.warning {
  color: orange;
  font-weight: bold;
}

.offline {
  color: red;
  font-weight: bold;
}

.machine-card {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-card-header {
  padding: 8px;
}

ion-card-title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

ion-card-content {
  padding: 8px;
  font-size: 14px;
}

ion-card-content p {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

ion-col {
  padding: 8px;
}