<ion-header>
  <ion-toolbar>
    <ion-title>stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>  
    <ion-icon name="close-circle-outline" (click)="close()"></ion-icon>
    </ion-item-divider>
 
    <div class="scrollmenu">
      <ion-item *ngFor="let s of stock">
        <ion-item-divider>  
        <ion-label><img style="width: 200px;height:480px" [src]="this.url+'/public/'+s.image" (click)="select(s.id)"></ion-label>  
        <ion-label> {{s.name}}</ion-label>
        <ion-label> {{s.price}}</ion-label>
      </ion-item-divider> 
      
    </ion-item>
    </div>

</ion-content>
