<ion-header>
  <ion-toolbar>
    <ion-title>stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>  
    <ion-icon name="close-circle-outline" (click)="close()"></ion-icon>
    </ion-item-divider>
    <ion-input [(ngModel)]="search" (ngModelChange)="doFilter()"></ion-input>
    <div style="display: inline;">
      <ion-item *ngFor="let s of stock" style="float:left">
        <ion-item-divider>  
          <ion-icon name="trash-bin-sharp" color="danger" (click)="removeStock(s.id)"></ion-icon> 
        <ion-label><img style="width: 100px;height:240px" [src]="s.image.includes(';base64,')?s.image:this.url+'/public/'+s.image" (click)="select(s.id)"></ion-label>  
        <ion-label> {{s.name}}</ion-label>
        <ion-label> {{s.price}}</ion-label>

      </ion-item-divider> 
      
    </ion-item>
    </div>

</ion-content>
