<ion-header *ngIf="page == 1">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Groups</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClick_add()"
        ><ion-icon style="font-size: 26px" name="add-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding list-container" *ngIf="page == 1">
  <ion-list *ngIf="groups?.length > 0; else noData">
    <ion-item
      *ngFor="let item of groups; let i = index"
      lines="full"
      class="pageket-item"
    >
      <ion-label>
        <h2 class="name">{{ item.name }}</h2>
        <p class="price">Devices: <strong>{{ item.devices?.length}}</strong></p>
      </ion-label>

      <ion-buttons slot="end" class="action-buttons">
        <!-- <ion-button
          color="warning"
          fill="clear"
          (click)="assignDeviceToGroup(item)"
        >
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button> -->
        <ion-button
          color="danger"
          fill="clear"
          (click)="deleteSchedulePackage(i)"
        >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <div class="empty-state">No groups found.</div>
  </ng-template>
</ion-content>

<!-- =============================================== -->
 

<ion-header *ngIf="page == 2">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="page = 1">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Device to Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding list-container" *ngIf="page == 2">
  <ion-list *ngIf="devices.length > 0; else noData">
    <ion-item
      *ngFor="let item of devices; let i = index"
      lines="full"
      class="pageket-item"
    >
      <ion-label>
        <h2 class="name">{{ item.name }}</h2>
        <p class="price">TasmotaId: <strong>{{ item.tasmotaId}}</strong></p>
        <p class="price">Zone: <strong>{{ item.zone}}</strong></p>
        <p class="price">GroupId: <strong>{{ item.groupId}}</strong></p>
        
      </ion-label>

      <ion-buttons slot="end" class="action-buttons">
        <!-- <ion-button color="warning" fill="clear" (click)="openEditModal(i)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button> -->
        <ion-button
          color="danger"
          fill="clear"
          (click)="deleteSchedulePackage(i)"
        >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <div class="empty-state">No devices found.</div>
  </ng-template>
</ion-content>