<ion-content>

  <div (click)="closeToolTip()" class="tooltip-background active">
    <span class="item">
      <div class="title"><i class="fa-solid fa-ticket"></i> ຖ້າເຄື່ອງບໍ່ຕົກພາຍໃນ 10ວິນາທີ ໂທ 55516321</div>
      <div class="sub-title">
        <p>If you do not receive the product, please call 55516321. <br> 如果您没有收到商品，请致电 55516321。<br> Nếu
          bạn không nhận được hàng, vui lòng gọi 55516321.</p>
      </div>
      <div class="control">
        <div class=""></div>
        <div class="right">
          <a (click)="closeToolTip()" href="javascript:void(0)" class="btn-close-here">Close Here</a>
        </div>
      </div>
    </span>
  </div>

  <div class="laab-card">
    <div class="laab-card-options">
      <div class="left"></div>
      <div class="right">
        <a (click)="reload()" href="javascript:void(0)" class="btn-close-modal">
          <i class="fa-solid fa-arrows-rotate"></i> Reload
        </a>
        <!-- <a (click)="close()" href="javascript:void(0)" class="btn-close-modal">
          <i class="fa-solid fa-xmark"></i> Close
        </a> -->
      </div>
    </div>
    <div *ngIf="apiService.allowTopUp" class="row-container">
      <div class="video-container">
        <video #videoPlayer autoplay muted playsinline></video>
      </div>
      <div class="image-container">
        <img src="../../assets/topup/bannertopup.jpeg" alt="Preview" />
      </div>
    </div>

    <div class="laab-card-header">
      <div class="title">Tickets</div>
      <div class="sub-title">Choose any ticket for receive your order</div>
    </div>
    <!-- <div>test</div> -->




    <div class="laab-card-body">

      <div *ngFor="let s of r; let i = index" href="javascript:void(0)" class="item">
        <div class="content">
          <div class="icon">
            <img [src]="apiService?.imageList[findImage(getStock(s?.position)?.id)]" alt="">

          </div>
          <div class="detail">
            <div class="price">Position #{{ s.position }}</div>
            <a *ngIf="counter == 0" href="javascript:void(0)" class="btn-epin">{{findPrice(getStock(s?.position)?.id)|
              number }}</a>
            <a *ngIf="counter > 0" href="javascript:void(0)" class="btn-epin">Auto drop ... {{ counter }}</a>
          </div>
        </div>
      </div>

    </div>


    <div class="marquee-container">
      <!-- ซ้าย: GIF คงที่ -->
      <div class="marquee-left">
        <img src="../../assets/logo/Mee.gif" alt="payment-gif" />
      </div>

      <!-- ขวา: ข้อความเลื่อน -->
      <div class="marquee-right">
        <div class="marquee-content">
          <p>
            💳 English: Please do not close this window. If you have made a payment, it will be completed within
            60
            seconds.
            📞 For support, call or WhatsApp +8562055516321 if you did not receive the product.
          </p>
          <p>
            💳 Lao: ກະລຸນາຢ່າປິດຫນ້າຈໍນີ້ ຖ້າຈ່າຍເງິນແລ້ວ ຈະດຳເນີນການໃນ 60 ວິນາທີ.
            📞 WhatsApp +8562055516321 ຖ້າບໍ່ໄດ້ຮັບສິນຄ້າ.
          </p>
          <p>
            💳 Thai: กรุณาอย่าปิดหน้านี้ หากชำระเงินแล้ว ระบบจะดำเนินการใน 60 วินาที.
            📞 โทรหรือ WhatsApp +8562055516321 หากไม่ได้รับสินค้า.
          </p>
          <p>
            💳 Vietnamese: Vui lòng không đóng cửa sổ này. Nếu đã thanh toán, quá trình sẽ hoàn tất trong 60 giây.
            📞 Gọi hoặc WhatsApp +8562055516321 nếu không nhận được sản phẩm.
          </p>
          <p>
            💳 Chinese: 请不要关闭此窗口。如果您已付款，系统将在60秒内完成处理。
            📞 如未收到商品，请拨打电话或WhatsApp +8562055516321。
          </p>
        </div>
      </div>
    </div>
  </div>




  <!-- <audio src="../../assets/machine_sound/please_select.mp3"></audio> -->

</ion-content>