<div class="laab-transfer-container">
  <div class="item-card">
    <div class="item-card-header">
      <div class="title">Counter</div>
      <div class="text">Control cash by counter</div>
    </div>
    <div class="item-card-body">
      
      <div class="search-group">
        <div class="form-group">
          <label for="">Phone number</label>
          <div class="input-group mb-3">
            <input (change)="resetList($event)" [(ngModel)]="phonenumber" type="text" placeholder="Enter phone number" class="form-control">
            <span class="input-group-text">
              <i class="fa-solid fa-mobile-screen-button"></i>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="">Date & Time</label>
          <input (change)="getTime($event)" type="datetime-local" class="form-control input-datetime">
        </div>
        <div class="form-group mt-3">
          <button (click)="findList()" class="btn-validate"><i class="fa-solid fa-rotate"></i> Validate</button>
        </div>
      </div>

      <div *ngIf="showTable == true" class="table-responsive mt-2">
        <table class="table table-bordered table-hover">
          <thead class="fw-bold">
            <tr>
              <td>Creator</td>
              <td>Phone number</td>
              <td>SMC</td>
              <td>EPIN</td>
              <td>Cash</td>
              <td>Time</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody *ngFor="let list of lists; let i = index">
            <tr>
              <td>{{ list.uuid }}</td>
              <td>{{ list.phonenumber }}</td>
              <td>{{ list.SMC }}</td>
              <td>{{ list.EPIN }}</td>
              <td>{{ list.counter }}</td>
              <td>{{ list.createdAt }}</td>
              <td>
                <a href="javascript:void(0)" class="btn-epin-generate"><i class="fa-solid fa-qrcode"></i> Generate EPIN</a>
                <a href="javascript:void(0)" class="btn-epin-generate"><i class="fa-solid fa-money-bill-wave"></i> Cash</a>
              </td>
            </tr>
          </tbody>
        </table>

        <ul class="pagination">
          <li *ngFor="let btn of btnList; let i = index" [ngClass]="btn.active ? 'page-item active' : 'page-item'" >
              <button (click)="manageListPage(btn.page)" class="page-link" >{{btn.name}}</button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>