.app-container {
    max-width: 1024px;
    margin: 0 auto;

    .title {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .sub-title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .item-list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;

        .item {
            text-decoration: none;
            background: #A41D4F;
            color: #fff;
            border: 1px solid #3333;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            min-height: 100px;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }

            .text {
                padding-top: 10px;
                text-align: center;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }

}