.ads-backdrop::before {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    content: '';
    background: #bcbcbc;
}

.ads-container {

    .item {
        height: 80vh;
        width: 100vw;
    }

    .ads-video {
        object-fit: cover;
    }
}