<!-- <ion-header [translucent]="true" (click)="exit()">
  <ion-toolbar>
    <ion-title>ads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (click)="exit()">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ads</ion-title>
    </ion-toolbar>
  </ion-header>
  
</ion-content> -->





<ion-content (click)="exit()">

  <div class="ads-container">
    <img *ngIf="currentType == 'image'" src="{{ currentUrl }}" alt="" class="item">
    <video *ngIf="currentType == 'video'" src="{{ currentUrl }}" class="item ads-video"></video>
  </div>

  <!-- <div class="ads-container">
    <a *ngFor="let ads of adsList; let i = index" href="javascript:void(0)" class="item">
      <img *ngIf="ads?.type == 'image'" src="{{ ads.url }}" class="ads-image" alt="">
      <video *ngIf="ads?.type == 'video'" src="{{ ads.url }}" class="ads-video"></video>
    </a>
  </div> -->

  
  <!-- <div class="ads-backdrop">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
  
      </div>
      <div class="carousel-inner">
  
      </div>
      <button hidden class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button hidden class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div> -->

</ion-content>

