<ion-content>


  <div class="section-header">
    <div class="title">ບິນບໍ່ທັນຈ່າຍ</div>
    <div class="sub-title">ນີ້ແມ່ນລາຍງານ QR ທີ່ລູກຄ້າສ້າງຂື້ນມາແລ້ວບໍ່ທັນໄດ້ຈ່າຍເງິນ</div>

  </div>

  <div class="section-filter">
    <div *ngIf="datetimeCustom == true" class="single-group">
      <div class="form-group">
        <label for="">Date (Special)</label>
        <input [(ngModel)]="fromDate" type="date" class="form-control full">
      </div>
    </div>

    <div *ngIf="moredatetimeCustom == true" class="single-group">
      <div class="form-group">
        <label for="">Date (From)</label>
        <input [(ngModel)]="fromDate" type="date" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Date (To)</label>
        <input [(ngModel)]="toDate" type="date" class="form-control">
      </div>
    </div>

  </div>

  <div class="section-buttons">
    <a (click)="process()" href="javascript:void(0)" class="item-process"><i class="fa-solid fa-arrows-rotate"></i>
      Process</a>
    <a (click)="displayDateTimeCustom()" href="javascript:void(0)" class="item active">Date/Time Custom</a>
    <a (click)="displayMoreDateTimeCustom()" href="javascript:void(0)" class="item">More Date/Time Custom</a>
  </div>

  <div *ngIf="display == true" class="section-table">

    <div class="btn-list">
      <a *ngFor="let export of exportOptions; let i = index" href="javascript:void(0)" class="item">
        <div class="icon">
          <i class="{{ export.icon }}"></i>
        </div>
        <div class="text">{{ export.text }}</div>
      </a>
    </div>

    <div class="sum-data">
      <div class="group">
        <div class="text">Machine</div>
        <div class="value">{{ machineId }}</div>
      </div>
      <div class="group">
        <div class="text">Date</div>
        <div class="value">{{ currentdate }}</div>
      </div>
      <div class="group">
        <div class="text">SubQTY</div>
        <div class="value">{{ sum_qtty | number }}</div>
      </div>
      <div class="group">
        <div class="text">Subtotal</div>
        <div class="value">{{ sum_total | number }}</div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="fw-bold">
          <tr>
            <td>#</td>
            <td>Machine</td>
            <td>transactionID</td>
            <td>totalvalue</td>
            <td>Status</td>
            <td>CreatedAt</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody *ngFor="let sale of saleSumerizeList; let i = index">
          <tr>
            <td>{{ i+1 }}</td>
            <td>{{ sale.machineId }}</td>
            <td>{{ sale.transactionID }}</td>
            <td>{{ sale.totalvalue | number }}</td>

            <td>{{ sale.paymentstatus == 'pending' ? 'ຍັງບໍ່ທັນຈ່າຍ' : '' }}</td>
            <td>{{ sale.createdAt | date: 'yyyy-MM-dd HH:mm:ss':'+7' }}</td>
            <td>
              <button (click)="CheckPaid(sale.transactionID)" class="btn btn-view">ກວດ Mmoney</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</ion-content>