<!-- <ion-header>
  <ion-toolbar>
    <ion-title>List order</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon
          style="font-size: 42px; color: red"
          name="close-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <div style="display: flex;flex-direction: row;justify-content: space-between;">
    <div class="title">
      History order
    </div>
    <div>
      <ion-icon (click)="dismiss()" style="font-size: 42px;color: red;" name="close-outline"></ion-icon>
    </div>
  </div>

    <ion-item *ngFor="let item of list_order" class="active-item">
      <ion-grid>
        <ion-row class="row-main">
          <ion-col size="6" >
            <img height="80px" width="80px" src="{{image}}" alt="">
            <div class="col-list">
              <div class="label_id">ID:</div>
              <div class="value">{{ item.id }}</div>
            </div>
  
            <div class="col-list">
              <div class="label_id">Device:</div>
              <div class="value">{{ item.deviceId }}</div>
            </div>
  
            <div class="col-list">
              <div class="label_id">Package:</div>
              <div class="value">{{ item.packageId }}</div>
            </div>
          </ion-col>
          <ion-col size="6" class="info-flex">
            <ion-icon name="time-outline" style="font-size: 50px;"></ion-icon>
          </ion-col>
          
          <ion-col size="12" size-md="6" class="times-col">
            <div class="time-row">
              <div>
                <div class="label">Started</div>
                <div class="value_start">{{ item.startedTime ? (item.startedTime | date:'short') : '-' }}</div>
              </div>
            </div>
          </ion-col>

          <ion-col size="12" size-md="6" class="times-col-completed">
            <div class="time-row-completed">
              <div>
                <div class="label">Completed</div>
                <!-- <div class="value">{{ item.completedTime ? (item.completedTime | date:'short') : '-' }}</div> -->
                <div class="value_completed">{{ item.startedTime ? (item.startedTime | date:'short') : '-' }}</div>
              </div>
            </div>
          </ion-col>

          <ion-col size="12" class="times-col">
            <div class="time-row">
              <ion-button class="btn-detail" (click)="onClick_detail(item)">Detail</ion-button>
            </div>
          </ion-col>
  
        </ion-row>
      </ion-grid>
    </ion-item>
</ion-content>
