<ion-content>

  <div class="section-navbar">
    <div class="left">
      <a (click)="close()" href="javascript:void(0)" class="btn-back" aria-label="Back">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <div class="item-text">My Machine</div>
    </div>
    <div class="right"></div>
  </div>

  <div class="space"></div>

  <div class="machine-page">
    <div class="item-card">

      <div class="item-card-header">
        <div class="left">
          <a (click)="new()" href="javascript:void(0)" class="btn-item-new">
            <i class="fa-solid fa-circle-plus"></i>
            Create new machine
          </a>
          <a (click)="allSaleReport()" href="javascript:void(0)" class="btn-item-new">
            <i class="fa-solid fa-file"></i>
            All sale report
          </a>
        </div>
        <div class="right">
          <a (click)="loadMachine()" href="javascript:void(0)" class="btn-item-reload">
            <i class="fa-solid fa-arrows-rotate"></i>
            Reload
          </a>
        </div>
      </div>

      <div class="item-card-body">
        <div class="table-responsive">
          <table class="table table-bordered machine-table">
            <thead>
              <tr>
                <th>No</th>
                <th>Image</th>
                <th>Machine ID</th>
                <th>OTP</th>
                <th>Time</th>
                <th>Active</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody class="machine-group" *ngFor="let p of _l; let i = index">
              <tr class="machine-row">
                <td class="col-no">{{ i + 1 }}</td>
                <td class="col-image">
                  <img class="display_machine_image" src="{{ p.photo }}" alt="">
                </td>
                <td class="col-id">
                  <span class="machine-id">{{ p.machineId }}</span>
                </td>
                <td class="col-otp">{{ p.otp }}</td>
                <td class="col-time">{{ p.updatedAt | date:dateformat:'offsettz||420' }}</td>
                <td class="col-active">
                  <ion-toggle [(ngModel)]="p.isActive" (ngModelChange)="disable(p.id)"></ion-toggle>
                </td>
                <td class="col-actions">
                  <div class="action-btns">
                    <button type="button" (click)="machineWallet(p.id)" class="btn btn-action">
                      <i class="fa-solid fa-wallet"></i>
                      <span>Machine Wallet</span>
                    </button>
                    <button type="button" (click)="edit(p.id)" class="btn btn-action">
                      <i class="fa-solid fa-pencil"></i>
                      <span>Edit</span>
                    </button>
                    <button type="button" (click)="sale(p.machineId, p.otp)" class="btn btn-action">
                      <i class="fa-solid fa-chart-line"></i>
                      <span>Sale</span>
                    </button>
                    <button type="button" (click)="refreshMachine(p.machineId)" class="btn btn-action">
                      <i class="fa-solid fa-rotate"></i>
                      <span>Refresh</span>
                    </button>
                    <button type="button" (click)="billNotPaid(p.machineId, p.otp, p.ownerUuid)" class="btn btn-action">
                      <i class="fa-solid fa-qrcode"></i>
                      <span>ບິນບໍ່ທັນຈ່າຍ</span>
                    </button>
                    <button type="button" (click)="resetCashing(p.machineId)" class="btn btn-action">
                      <i class="fa-solid fa-rotate"></i>
                      <span>Reset Cashing</span>
                    </button>
                  </div>
                </td>
              </tr>

              <tr class="settings-row" *ngIf="settings[p.machineId]">
                <td colspan="7">
                  <div class="machine-panel">

                    <div class="panel-header">
                      <div class="panel-title">Setting</div>
                      <div class="panel-actions">
                        <ion-button size="small" (click)="updateSetting(p.machineId)">Update Setting</ion-button>
                        <ion-button size="small" (click)="refreshMachine(p.machineId)">Refresh Machine</ion-button>
                        <ion-button size="small" color="warning" (click)="exitMachine(p.machineId)">Exit Machine</ion-button>
                        <ion-button size="small" color="medium" (click)="clearMachine(p.machineId)">Clear Bill</ion-button>
                      </div>
                    </div>

                    <div class="settings-grid">

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="barcode-outline"></ion-icon>
                          IMEI
                        </span>
                        <ion-input class="custominput" type="number" label="imei" placeholder="enter imei"
                          [(ngModel)]="settings[p.machineId].imei"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="arrow-redo-circle-outline"></ion-icon>
                          Limit value
                        </span>
                        <ion-input class="custominput" type="number" label="limit value" placeholder="100000"
                          [(ngModel)]="settings[p.machineId].limiter"></ion-input>
                      </label>

                      <label class="setting-field setting-check">
                        <span class="field-label">
                          <ion-icon name="storefront-sharp"></ion-icon>
                          Allow Vending
                        </span>
                        <ion-checkbox [(ngModel)]="settings[p.machineId].allowVending"></ion-checkbox>
                      </label>

                      <label class="setting-field setting-check">
                        <span class="field-label">
                          <ion-icon name="cash-sharp"></ion-icon>
                          Allow Cash In
                        </span>
                        <ion-checkbox [(ngModel)]="settings[p.machineId].allowCashIn"></ion-checkbox>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="snow-outline"></ion-icon>
                          Low Temp
                        </span>
                        <ion-input type="number" [(ngModel)]="settings[p.machineId].lowTemp"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="thermometer-outline"></ion-icon>
                          High Temp
                        </span>
                        <ion-input type="number" [(ngModel)]="settings[p.machineId].highTemp"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="flash-outline"></ion-icon>
                          Light Start
                        </span>
                        <ion-input type="number" [(ngModel)]="settings[p.machineId].light.start"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="flash-off-outline"></ion-icon>
                          Light End
                        </span>
                        <ion-input type="number" [(ngModel)]="settings[p.machineId].light.end"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="image-outline"></ion-icon>
                          Photo header
                        </span>
                        <ion-input type="text" [(ngModel)]="settings[p.machineId].imgHeader"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="images-outline"></ion-icon>
                          Photo Footer
                        </span>
                        <ion-input type="text" [(ngModel)]="settings[p.machineId].imgFooter"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="camera-outline"></ion-icon>
                          Logo
                        </span>
                        <ion-input type="text" [(ngModel)]="settings[p.machineId].imgLogo"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="barcode-outline"></ion-icon>
                          Owner
                        </span>
                        <ion-input class="custominput" type="text" label="owner" placeholder="enter owner"
                          [(ngModel)]="settings[p.machineId].owner"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="barcode-outline"></ion-icon>
                          Owner phone
                        </span>
                        <ion-input class="custominput" type="number" label="owner phone" placeholder="enter owner phone"
                          [(ngModel)]="settings[p.machineId].ownerPhone"></ion-input>
                      </label>

                      <label class="setting-field setting-check">
                        <span class="field-label">
                          <ion-icon name="megaphone-sharp"></ion-icon>
                          Ads
                        </span>
                        <ion-checkbox [(ngModel)]="settings[p.machineId].isAds"></ion-checkbox>
                      </label>

                      <label class="setting-field setting-check">
                        <span class="field-label">
                          <ion-icon name="volume-mute-sharp"></ion-icon>
                          Music Muted
                        </span>
                        <ion-checkbox [(ngModel)]="settings[p.machineId].isMusicMuted"></ion-checkbox>
                      </label>

                      <label class="setting-field setting-check">
                        <span class="field-label">
                          <span class="icon-stack">
                            <ion-icon name="logo-electron"></ion-icon>
                            <ion-icon name="volume-mute-sharp" class="icon-badge"></ion-icon>
                          </span>
                          Robot Muted
                        </span>
                        <ion-checkbox [(ngModel)]="settings[p.machineId].isRobotMuted"></ion-checkbox>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="barcode-outline"></ion-icon>
                          Version
                        </span>
                        <ion-input class="custominput" type="text" label="version" placeholder="enter version"
                          [(ngModel)]="settings[p.machineId].versionId"></ion-input>
                      </label>

                      <label class="setting-field setting-check">
                        <span class="field-label">
                          <ion-icon name="qr-code-outline"></ion-icon>
                          QR Payment
                        </span>
                        <ion-checkbox [(ngModel)]="settings[p.machineId].qrPayment"></ion-checkbox>
                      </label>

                      <label class="setting-field setting-check">
                        <span class="field-label">
                          <ion-icon name="trophy-outline"></ion-icon>
                          Top Up
                        </span>
                        <ion-checkbox [(ngModel)]="settings[p.machineId].isTopUp"></ion-checkbox>
                      </label>

                      <label class="setting-field setting-check">
                        <span class="field-label">
                          <ion-icon name="briefcase-outline"></ion-icon>
                          Franchise Mode
                        </span>
                        <ion-checkbox [(ngModel)]="settings[p.machineId].isFranciseMode"></ion-checkbox>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="time-outline"></ion-icon>
                          Drop Delay
                        </span>
                        <ion-input type="number" [(ngModel)]="settings[p.machineId].dropDelay"></ion-input>
                      </label>

                      <label class="setting-field">
                        <span class="field-label">
                          <ion-icon name="sunny-outline"></ion-icon>
                          Brightness
                        </span>
                        <ion-input type="number" [(ngModel)]="settings[p.machineId].brightness"></ion-input>
                      </label>

                      <label class="setting-field setting-wide">
                        <span class="field-label">
                          <ion-icon name="location-outline"></ion-icon>
                          ที่ตั้ง
                        </span>
                        <ion-input class="custominput" type="text" label="ที่ตั้ง" placeholder="enter location"
                          [(ngModel)]="settings[p.machineId].location"></ion-input>
                      </label>

                    </div>

                    <div class="media-block">
                      <div class="media-title">Music Volume</div>
                      <ion-range
                        [(ngModel)]="settings[p.machineId].musicVolume"
                        min="0"
                        max="100"
                        aria-label="Range with pin"
                        [pin]="true"
                        [pinFormatter]="pinFormatter">
                      </ion-range>

                      <label class="setting-field setting-full">
                        <span class="field-label">
                          <ion-icon name="phone-portrait-outline"></ion-icon>
                          Checkout UI
                        </span>
                        <ion-select
                          class="custominput"
                          interface="popover"
                          [(ngModel)]="settings[p.machineId].checkoutUiVersion"
                          placeholder="default">
                          <ion-select-option value="default">Default</ion-select-option>
                          <ion-select-option value="v2">v2</ion-select-option>
                          <ion-select-option value="v3">v3 (Kiosk)</ion-select-option>
                        </ion-select>
                      </label>

                      <label class="setting-field setting-full">
                        <span class="field-label">
                          <ion-icon name="barcode-outline"></ion-icon>
                          Ads List
                        </span>
                        <ion-textarea
                          class="custominput"
                          rows="2"
                          auto-grow="true"
                          placeholder="enter Ads List"
                          [(ngModel)]="settings[p.machineId].adsList">
                        </ion-textarea>
                      </label>
                    </div>

                    <div class="status-block">
                      <div class="status-title">Status</div>
                      <div class="status-items">
                        <div class="status-item">
                          <span class="status-label">Temp</span>
                          <span class="status-value">{{ findMachine(p?.machineId)?.temperature }}</span>
                        </div>
                        <div class="status-item">
                          <span class="status-label">Last Update</span>
                          <span class="status-value">{{ findMachine(p?.machineId)?.lastUpdate | date:dateformat:'offsettz||420' }}</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

    </div>
  </div>

</ion-content>
