.warning {
  color: orange;
  font-weight: bold;
}

.offline {
  color: red;
  font-weight: bold;
}

.machine-card {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.online-card {
  background-color: rgba(0, 128, 0, 0.1); /* Light green background */
  border: 2px solid green;
}

.broken-card {
  background-color: rgba(255, 0, 0, 0.1); /* Light red background */
  border: 2px solid red;
}

ion-card-header {
  padding: 8px;
}

ion-card-title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.last-update {
  font-size: 12px;
  color: #666;
  margin-left: 8px;
}

ion-card-content {
  padding: 8px;
  font-size: 14px;
}

ion-card-content p {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

ion-col {
  padding: 8px;
}

h2 {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}