<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-no-padding">
  <ion-list lines="none" class="menu-list">
    <ion-list-header class="menu-header">
      Main Menu
    </ion-list-header>

    <ion-item button detail="false" *ngFor="let menu of menus" (click)="onMenuSelect(menu)">
      <ion-icon [name]="menu.icon" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">{{ menu.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->

<!-- ==================================== -->

<ion-content class="ion-no-padding">
  <ion-list class="menu-list">
    <ion-list-header class="menu-header">
      <div class="header-container">
        <ion-avatar class="profile-avatar">
          <img src="../../../assets/icon/user-profile.png" alt="Profile">
        </ion-avatar>
        <div class="header-text">
          <h2>Owner</h2>
        </div>
      </div>
    </ion-list-header>

    <ion-item button detail="false" *ngFor="let menu of menus" (click)="onMenuSelect(menu)" class="menu-item">
      <ion-icon [name]="menu.icon" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">{{ menu.title }}</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" class="menu-chevron"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<!-- ================ -->










