ion-content {
    --ion-background-color: #F5F5F5;
    // --ion-background-color: #EE3124;
}

.laab-card {
    margin: 10px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    // background: #EE3124;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,49,36,0.7161239495798319) 0%, rgba(214,43,31,1) 100%, rgba(255,255,255,1) 100%);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    padding: 10px;

    .laab-card-options {
        display: flex;
        justify-content: space-between;
        width: 100%;

       .right {
            .btn-close-modal {
                color: #fff;
                text-decoration: none;
            }
       }
    }

    .laab-card-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;

        .title {
            font-size: 35px;
            font-weight: bold;
        }
        .sub-title {
            font-size: 14px;
            font-weight: 300;
        }

        .cash-balance {
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 30px;
            letter-spacing: 4px;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            span {
                font-size: 14px;
                display: flex;
                position: relative;
                padding-left: 10px;
                top: 3px;
            }
        }



    }
    .laab-card-body {
        margin-top: 15px;

        .line {
            border-bottom: 1px dashed #3333;
        }

        .form-group {
            display: flex;
            justify-content: space-between;
            height: 50px;
            align-items: center;
        }
    }
    .laab-card-footer {
        position: absolute;
        left: 0; right: 0; bottom: 0;
        margin: 0px 10px 10px 10px;

        .btn-submit {
            height: 50px;
            border: 1px solid #3333;
            background: #EE3124;
            color: #fff;
            border-radius: 5px;
            transition: .2s;
            width: 100%;
        }
        .btn-submit:hover {
            background: #d62b1f;
        }

        .btn-options {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            

            .item-left {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                width: 100%;
                padding: 10px;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,49,36,1) 0%, rgba(255,161,161,1) 100%, rgba(255,255,255,1) 100%);
                transition: .2s;

                .left {
                    width: 50px;
                    text-align: center;
                    font-size: 30px;
                    
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: flex-end;
                    color: #fff;

                    .text {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .sub-text {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
            .item-left:hover {
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(226,15,0,1) 0%, rgba(255,102,102,1) 100%, rgba(255,255,255,1) 100%);
            }

            .item-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                width: 100%;
                padding: 10px;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,161,161,1) 0%, rgba(238,49,36,1) 100%, rgba(255,255,255,1) 100%);
                transition: .2s;

                .left {

                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: flex-start;
                    color: #fff;

                    .text {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .sub-text {
                        font-size: 14px;
                        font-weight: 300;
                    }  
                }

                .right {
                    width: 50px;
                    text-align: center;
                    font-size: 30px;

                    
                }
            }
            .item-right:hover {
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,102,102,1) 0%, rgba(226,15,0,1) 100%, rgba(255,255,255,1) 100%);
            }
        }
    }
}