ion-content {
    --ion-background-color: #EDEDED;
}


.header {
    position: fixed;
    top: 0; left: 0px; right: 0px;
    display: flex;
    justify-content: space-between;
    height: 55px;
    background: #A41D4F;
    z-index: 99999999;
    box-shadow: 0px 2px 5px #888888;


    .left {
        display: flex;

        .section-1 {
            line-height: 50px;
            padding: 5px;

            .btn-back {
                text-decoration: none;
                color: #fff;
                width: 35px;
                text-align: center;
                transition: .2s;
                width: 45px;
                height: 45px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }

        .section-2 {
            line-height: 55px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .main {
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
            }
        }
    }

    .center {
        line-height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .main {
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
    }

    .right {
        .section-1 {
            line-height: 50px;
            padding: 5px;
            display: flex;

            .btn-options {
                text-decoration: none;
                color: #fff;
                width: 35px;
                text-align: center;
                transition: .2s;
                width: 45px;
                height: 45px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .btn-options:hover {
                background: #A41D4F;
            }
        }
    }
}

.space {
    margin-top: 55px;
}

.qr-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .qr-img {
        width: 250px;
        height: 250px;
    }
}

.code-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.footer {
    position: absolute;
    left: 10px; right: 10px; bottom: 10px;

    .my-btn {
        padding: 10px;
        background: #A41D4F;
        color: #fff;
        height: 38px;
        border-radius: 10px;
        border: 1px solid #3333;
    }
}
