<ion-content (click)="resetDestroy()">

  <div class="laab-card">
    <div class="laab-card-options">
      <div class="left"></div>
      <div class="right">
        <a (click)="buymore()" href="javascript:void(0)" class="btn-close-modal">
          <i class="fa-solid fa-xmark"></i> Close
        </a>
      </div>
    </div>
    <div class="laab-card-header">

    </div>
    <div class="laab-card-body">

      <div class="form-order-paid">

        <div class="form-order-paid-left">
          <div class="title">PAYMENT METHODS</div>
          <div class="item-list">
            <a *ngFor="let list of methodList; let i = index" href="javascript:void(0)" class="item">
              <div class="check-choice">
                <input type="radio" name="choice" id="input-choice" class="input-choice input-choice-{{list.value}}">
                <label for="choice" class="label-choice">{{ list.name }}</label>
              </div>
              <div class="icon">
                <img class="img-choice" src="{{ list.image }}" alt="">
              </div>
            </a>
          </div>

        </div>

        <div class="form-order-paid-right">

          <div class="billing-container">
            <div class="shape-header-list">
              <span *ngFor="let item of shapesObject; let i = index" class="shape"></span>
            </div>

            <div class="qr-container">
              <img src="" alt="" class="qr-img">
            </div>

            <div class="title">{{ currentTitle }}</div>
            <div class="total">{{ getTotalSale.t | number }}</div>

            <div class="head">
              <div class="left">#{{ currentName }}</div>
              <div class="right">{{ billdate | date: 'yyyy-MM-dd':'+7' }}</div>
            </div>

            <div class="body">
              <div class="left">Total Quantity</div>
              <div class="right">{{ getTotalSale.q | number }}</div>
            </div>

            <div class="footer">
              <div class="left">Total</div>
              <div class="right">{{ getTotalSale.t | number }}</div>
            </div>

            <div class="contact">Report Problem (+856)20{{contact}}</div>

            <div class="shape-footer-list">
              <span *ngFor="let item of shapesObject; let i = index" class="shape"></span>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="laab-card-footer">

      <!-- <div class="btn-options">
        <div class=""></div>
        <div class=""></div>
        <a (click)="clearOrders()" href="javascript:void(0)" class="item-left">
          <div class="left">
            <i class="fa-solid fa-trash-can" style="color: #fff;"></i>
          </div>
          <div class="right">
            <div class="text">Clear</div>
            <div class="sub-text">Clear all orders</div>
          </div>
        </a>
        <a (click)="buymore()" href="javascript:void(0)" class="item-right">
          <div class="left">
            <div class="text">Buy More</div>
            <div class="sub-text">Choose another product</div>
          </div>
          <div class="right">
            <i class="fa-solid fa-cart-shopping" style="color: #fff;"></i>
          </div>
        </a>
      </div> -->

    </div>
  </div>

</ion-content>