<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-no-padding menu-page">
  <ion-grid>
    <ion-row >
      <ion-col size="6" *ngFor="let item of menus">
        <ion-card class="menu-card" (click)="onClick(item)">
          <ion-icon name="{{item.icon}}" class="menu-icon"></ion-icon>
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->


<!-- ========================== -->

<!-- <ion-content class="ion-no-padding menu-page">
  <ion-grid class="menu-grid">
    <ion-row class="menu-row">
      <ion-col size="6" *ngFor="let item of menus" class="menu-col">
        <ion-card class="menu-card" (click)="onClick(item)">
          <div class="card-content">
            <ion-icon name="{{item.icon}}" class="menu-icon"></ion-icon>
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">{{item.title}}</ion-card-title>
            </ion-card-header>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<!-- =============================================== -->

<ion-content class="ion-no-padding menu-page">

  <!-- Profile Section -->
  <ion-card class="profile-card">
    <ion-card-content class="profile-content">
      <ion-avatar class="profile-avatar">
        <img src="../../../assets/icon/user-profile.png" alt="User Avatar" />
      </ion-avatar>
      <div class="profile-info">
        <h2 class="user-name">{{ phonenumber }}</h2>
        <p class="user-email">Standard User</p>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Menu Grid -->
  <ion-grid class="menu-grid">
    <ion-row>
      <ion-col size="6" *ngFor="let item of menus">
        <ion-card class="menu-card" button (click)="onClick(item)">
          <ion-card-content class="menu-card-content">
            <ion-icon [name]="item.icon" class="menu-icon"></ion-icon>
            <h3 class="menu-title">{{ item.title }}</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
