<ion-header>
  <ion-toolbar>
    <ion-title>How To <ion-icon name="close-outline" (click)="close()"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor="let s of list">
    <div>
      <video  width="400px" height="400px" controls preload="none"
      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
        <source [src]="s.url" type="video/mp4" />
		        Browser not supported
      </video>
      <!-- <ion-label>{{s.title}}</ion-label> -->
        <!-- <img [src]="s.image" style="width:200px;height:200px"/> -->
      <ion-label>{{s.name}}</ion-label>
      <!-- <ion-label>{{s.description}}</ion-label> -->
      <!-- <ion-button (click)="testVideoPlayerPlugin(s.url)">PLAY</ion-button>
       -->
       
    </div>
  </ion-item>
</ion-list>
</ion-content>
