<ion-header>
  <ion-toolbar>
    <ion-icon name="close-circle-sharp" (click)="close()"></ion-icon>

    <ion-title>machine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="new()">New</ion-button>
<ion-grid>
  <ion-row>
    <ion-col><ion-label>Image</ion-label></ion-col>
    <ion-col><ion-label>Machine Id</ion-label></ion-col>
    <ion-col><ion-label>OTP</ion-label></ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row *ngFor="let p of _l">
    <ion-col><ion-img class="product_image"[src]="showImage(p.photo)"></ion-img></ion-col>
    <ion-col><ion-label>{{p.machineId}}<ion-button (click)="sale(p.machineId)">Sale</ion-button></ion-label></ion-col>
    <ion-col><ion-label>{{p.otp}}</ion-label></ion-col>
    <ion-col><ion-label>{{p.updatedAt|date}}</ion-label></ion-col>
    <ion-col> <ion-toggle  [(ngModel)]="p.isActive" (click)="disable(p.id)" ></ion-toggle></ion-col>
    <ion-col><ion-button (click)="edit(p.id)">edit</ion-button></ion-col>

  </ion-row>
</ion-grid>
</ion-content>
