<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>User Schedules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item-group>
        <ion-item-divider>Apply Schedule Package</ion-item-divider>
        <ion-item>
          <ion-label>Device</ion-label>
          <ion-select [(ngModel)]="selectedDeviceId">
            <ion-select-option *ngFor="let device of devices" [value]="device.id">{{ device.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Schedule Package</ion-label>
          <ion-select [(ngModel)]="selectedPackageId">
            <ion-select-option *ngFor="let pkg of schedulePackages" [value]="pkg.id">{{ pkg.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" (click)="applySchedulePackage()">Apply Package</ion-button>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>Current Schedules</ion-item-divider>
        <ion-item *ngFor="let schedule of schedules">
          <ion-label>
            <h2>{{ schedule.device.name }}</h2>
            <p>Type: {{ schedule.type }}</p>
            <p>Cron: {{ schedule.cron || 'N/A' }}</p>
            <p>Command: {{ schedule.command }}</p>
            <p>Condition: {{ schedule.conditionType || 'N/A' }} {{ schedule.conditionValue || '' }}</p>
            <p>Created By: {{ schedule.createdBy || 'Unknown' }}</p>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </ion-card-content>
  </ion-card>
</ion-content>