<ion-header>

  <!-- <ion-toolbar mode="ios" > -->
    <!-- <ion-title style="height: 160px; "> -->
      <div class="box">
        <img [src]="mmLogo" />
        <!-- <img src="assets/icon/favicon.png"/> -->
      </div>
       
    <!-- </ion-title> -->
   
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">


  <ion-grid >
    <ion-row>
      <ion-col  size="6" style="overflow-x:auto; overflow-y:auto;">
        <ion-icon name="cart"></ion-icon>:{{getTotalSale?.q|number}}:<ion-icon name="cash-outline"></ion-icon>:{{getTotalSale?.t|number}}
        <ion-chip *ngFor="let o of summarizeOrder" color="primary">
          {{o.stock.name}}/{{o.stock.qtty|number}}({{(o.stock.qtty*o.stock.price)|number}})</ion-chip>
      </ion-col>
      <ion-col  size="6">
        <ion-button (click)="buyManyMMoney()">
          Buy All
        </ion-button>
        <ion-button (click)="clearOrder()">
          Clear
        </ion-button>
        <ion-button (click)="initDemo()">
          init Demo
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let sl of saleList; index as i" >
      <ion-col  size="{{smode==2?6:4}}"  *ngFor="let s of sl; index as  sl_i ">
        <ion-item-divider>
          <ion-label>{{s.position}}#. {{s.machineId}} </ion-label>
        </ion-item-divider>
        <ion-card>
          <ion-item>
            <label>{{s.stock.name}}</label>
          </ion-item>
          <ion-item>
            <img style="width: 160px;height:160px" [src]="this.url+'/public/'+s.stock.image">
          </ion-item>
          <ion-item>
            <label>{{s.stock.price}}/{{s.stock.qtty}}</label>
          </ion-item>
          <ion-item>
            <ion-button (click)="buyMMoney(s)" type="button">Buy</ion-button>
            <ion-button (click)="addOrder(s)" type="button">Add</ion-button>
          </ion-item>
        </ion-card>

      </ion-col>
    </ion-row>
   
  </ion-grid>
  <notifier-container></notifier-container>
</ion-content>