ion-header {
    --ion-background-color: #fff;
    z-index: 10000;
}

.box img {

    width: 128px;
    height: 128px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/background/1910.jpg') rgb(255, 255, 255) no-repeat center fixed;
    background-size: contain;
    height: 300px;
    width: 100%;
}

.spacious-container {
    overflow: auto;
    width: 100%;
    height: 250px;
    background-color: #FF95C5;
}

.footer img {
    display: block;
  margin-left: auto;
  margin-right: auto;



}




.xbutton {
    position: relative;
    width: 100%;
    padding-top: 25.92%;
    display: block;
    background-size: 100% 100%;
    font-family: 'luckiest guy';
    font-size: 28px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #FF0000;
}

.xbutton.background-button {
    background-color: #3B0000;

    &:after {
        content: attr(title);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: #FFF6CD;
        transition: #3B0000 all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover:after {
        -webkit-transform: translate(2.5%, 10%);
        transform: translate(2.5%, 10%);
        text-shadow: 2px 2px 1px #FF95C5;
        color: #FF0000;
    }
}

.button-wrapper {
    width: 150px;
    display: inline-block;
    margin: 5px;

    &:nth-child(2) a {
        -webkit-filter: hue-rotate(36deg);
        filter: hue-rotate(36deg);
    }

    &:nth-child(3) a {
        -webkit-filter: hue-rotate(72deg);
        filter: hue-rotate(72deg);
    }

    &:nth-child(4) {
        -webkit-filter: hue-rotate(108deg);
        filter: hue-rotate(108deg);
    }

    &:nth-child(5) {
        -webkit-filter: hue-rotate(144deg);
        filter: hue-rotate(144deg);
    }

    &:nth-child(6) {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }

    &:nth-child(7) {
        -webkit-filter: hue-rotate(216deg);
        filter: hue-rotate(216deg);
    }

    &:nth-child(8) {
        -webkit-filter: hue-rotate(216deg);
        filter: hue-rotate(216deg);
    }

    &:nth-child(9) {
        -webkit-filter: hue-rotate(252deg);
        filter: hue-rotate(252deg);
    }

    &:nth-child(7) {
        -webkit-filter: hue-rotate(288deg);
        filter: hue-rotate(288deg);
    }

    &:nth-child(8) {
        -webkit-filter: hue-rotate(324deg);
        filter: hue-rotate(324deg);
    }
}

.glasspanel {
    /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.2);

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    z-index: 3000;

    position: fixed;
    left: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(152, 151, 151, 0.2);
    box-shadow: inset 0 0 0 200px rgb(255, 255, 255, 0.08);
    background: url('../../assets/background/2280.jpg') no-repeat center fixed;
    background-size: cover;
}

.order-item {

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    float: left;
    border: 2px solid;
    left:15px;
    border-radius: 10px 10px; 
    background-color:white;
    height: 200px;
}

.item-header {
    left: 6%;
    width: 88%;
}

div.scrollmenu {
    display: -webkit-box;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: -40px;
  }
  
  .floatingBtn {
     background: white;
   
    // transform: rotate(-90deg);
    width: 90px;
    right: 3%; /* From JQuery we know scroll bar width is 17px */
    top: 40%;
    position: fixed;
    z-index: 1000;
}
.floatingBtn ion-icon{
    font-size: 50px !important;
    color:green !important;
   
}
.floatingBtn2 {
    background: white;
  
   // transform: rotate(-90deg);
   width: 90px;
   right: 3%; /* From JQuery we know scroll bar width is 17px */
   top: 50%;
   position: fixed;
   z-index: 1000;
}
.floatingBtn2 ion-icon{
   font-size: 50px !important;
   color:green !important;
  
}

.line {
    border-bottom: 1px dashed #3333;
}

.menu-options {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 10px;

    .left {
        display: flex;
        gap: 10px;

        .cash-balance {
            background: #333;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 24px;
            letter-spacing: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            border: 1px solid #3333;

            span {
                font-size: 14px;
                display: flex;
                position: relative;
                padding-left: 10px;
                top: 3px;
            }
        }

        .item-group {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .item {
                text-decoration: none;
                color: #333;
                background: #fff;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                width: 150px;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    
                .icon {
                    text-align: center;
                    font-size: 20px;
                    color: #EE3124;
                }
    
                .text {
                    font-size: 14px;
                    font-weight: 300;
                    text-align: center;
                    padding-left: 10px;
                }
            }
            .item:hover {
                background: #f5f6f7;
            }
        }

        // .item {
        //     text-decoration: none;
        //     color: #333;
        //     background: #fff;
        //     padding: 10px;
        //     border-radius: 5px;
        //     display: flex;
        //     flex-direction: column;
        //     width: 150px;
        //     box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);

        //     .icon {
        //         text-align: center;
        //         font-size: 20px;
        //         color: #EE3124;
        //     }

        //     .text {
        //         font-size: 14px;
        //         font-weight: 300;
        //         text-align: center;
        //     }
        // }
    }

    .center {
        display: flex;
        gap: 10px;

        .cash-balance {
            font-family: 'tahoma';
            background: #333;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
            letter-spacing: 5px;
        }

        .item {
            text-decoration: none;
            color: #333;
            background: #fff;
            padding: 15px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 200px;
            height: 100px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
            transition: .2s;

            .icon {
                text-align: center;
                font-size: 20px;
                color: #EE3124;
                padding-bottom: 10px;
            }

            .text {
                font-size: 14px;
                font-weight: 300;
                text-align: center;
            }
        }
        .item:hover {
            background: #f5f6f7;
        }
    }

    .right {
        display: flex;
        gap: 10px;

        .cash-balance {
            font-family: 'tahoma';
            background: #333;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 100%;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
        }

        .item {
            text-decoration: none;
            color: #333;
            background: #fff;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 150px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
            transition: .2s;

            .icon {
                text-align: center;
                font-size: 20px;
                color: #EE3124;
                
            }

            .text {
                font-size: 14px;
                font-weight: 300;
                text-align: center;
            }
        }
        .item:hover {
            background: #f5f6f7;
        }
    }
}