.box img {

    width: 128px;
    height: 128px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/background/1910.jpg') no-repeat center fixed;
    background-size: contain;
    height: 300px;
}

.spacious-container {
    overflow: auto;
    width: 100%;
    height: 250px;
    background-color: #FF95C5;
}

.footer {
    height: 250px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3B0000;
    text-align: center;
    z-index: 3000;


}




.xbutton {
    position: relative;
    width: 100%;
    padding-top: 25.92%;
    display: block;
    background-size: 100% 100%;
    font-family: 'luckiest guy';
    font-size: 28px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #FF0000;
}

.xbutton.background-button {
    background-color: #3B0000;

    &:after {
        content: attr(title);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: #FFF6CD;
        transition: #3B0000 all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover:after {
        -webkit-transform: translate(2.5%, 10%);
        transform: translate(2.5%, 10%);
        text-shadow: 2px 2px 1px #FF95C5;
        color: #FF0000;
    }
}

.button-wrapper {
    width: 150px;
    display: inline-block;
    margin: 5px;

    &:nth-child(2) a {
        -webkit-filter: hue-rotate(36deg);
        filter: hue-rotate(36deg);
    }

    &:nth-child(3) a {
        -webkit-filter: hue-rotate(72deg);
        filter: hue-rotate(72deg);
    }

    &:nth-child(4) {
        -webkit-filter: hue-rotate(108deg);
        filter: hue-rotate(108deg);
    }

    &:nth-child(5) {
        -webkit-filter: hue-rotate(144deg);
        filter: hue-rotate(144deg);
    }

    &:nth-child(6) {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }

    &:nth-child(7) {
        -webkit-filter: hue-rotate(216deg);
        filter: hue-rotate(216deg);
    }

    &:nth-child(8) {
        -webkit-filter: hue-rotate(216deg);
        filter: hue-rotate(216deg);
    }

    &:nth-child(9) {
        -webkit-filter: hue-rotate(252deg);
        filter: hue-rotate(252deg);
    }

    &:nth-child(7) {
        -webkit-filter: hue-rotate(288deg);
        filter: hue-rotate(288deg);
    }

    &:nth-child(8) {
        -webkit-filter: hue-rotate(324deg);
        filter: hue-rotate(324deg);
    }
}

.glasspanel {
    /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.2);

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    z-index: 3000;

    position: fixed;
    left: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(152, 151, 151, 0.2);
    box-shadow: inset 0 0 0 200px rgb(255, 255, 255, 0.08);
    background: url('../../assets/background/2280.jpg') no-repeat center fixed;
    background-size: cover;
}

.order-item {

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    float: left;margin-left:15px; border: 2px solid;border-radius: 10px 10px; background-color:white;
}

.item-header {
    left: 6%;
    width: 88%;
}

div.scrollmenu {
    display: -webkit-box;
    overflow-x: auto;
    white-space: nowrap;
  }
  
