<ion-header>
  <ion-toolbar>
    <ion-icon name="close-circle-sharp" (click)="close()"></ion-icon>

    <ion-title>sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="new()">New</ion-button>
  <ion-item-divider>MachineId:{{machineId}}</ion-item-divider>
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col><ion-label>id</ion-label></ion-col>
    <ion-col><ion-label>max</ion-label></ion-col>
    <ion-col><ion-label>position</ion-label></ion-col>
    <ion-col><ion-label>updated</ion-label></ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>
  
  <ion-row *ngFor="let p of _l">
    <ion-img class="product_image"[src]="showImage(p.stock.image)" (click)="showProductList(p)"></ion-img>
    <ion-col><ion-label>{{p.id}}</ion-label></ion-col>
    <ion-col><ion-label>{{p.max}}</ion-label></ion-col>
    <ion-col><ion-label>{{p.position}}</ion-label></ion-col>
    <ion-col><ion-label>{{p.updatedAt|date}}</ion-label></ion-col>
    <ion-col> <ion-toggle [(ngModel)]="p.isActive" (click)="save(p)" ></ion-toggle></ion-col>
    <ion-col><ion-label>{{p.stock.name}}</ion-label></ion-col>
    <ion-col><ion-label>{{p.stock.price|number}}</ion-label></ion-col>
    <!-- <ion-col><ion-button (click)="edit(p.id)">edit</ion-button></ion-col> -->
    
  </ion-row>
</ion-grid>
</ion-content>
