<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>testmotor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">testmotor</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-select [(ngModel)]="isSerial" (ionChange)="selectPlatform($event)">
    <ion-select-option *ngFor="let platform of platforms" [value]="platform.value">{{platform.label}}</ion-select-option>
  </ion-select>
  <ion-input type="text" placeholder="Enter Port name" [(ngModel)]="portName"></ion-input>
  <ion-input type="number" placeholder="Enter baud ratet" [(ngModel)]="baudRate"></ion-input>

  <button style="font-size: 30px;" (click)="scanPorts()">Scan ports</button>
  <ion-select [(ngModel)]="selectedDevice" (ionChange)="selectDevice($event)">
    <ion-select-option *ngFor="let device of devices" [value]="device">{{device}}</ion-select-option>
  </ion-select>
  <ion-button (click)="connect()">Connect</ion-button>
  <ion-button (click)="close()">Close</ion-button>
  <ion-button (click)="testDrop()">Ship</ion-button><ion-input type="number" placeholder="Enter slot" [(ngModel)]="slot"></ion-input>
  <ion-button (click)="scanTestMotor()">Scan testing  Motors</ion-button>
  <hr/>
  <ion-label>Log data</ion-label><ion-button (click)="clearLog()">Clear</ion-button>
  <textarea  *ngIf="vlog?.log" style="width: 100%; height: 200px;" [(ngModel)]="vlog.log.data"></textarea>
 <hr/>
  <ion-button (click)="checkSum()">checkSum</ion-button>
  <ion-input type="text" placeholder="Enter checkSum" [(ngModel)]="val"></ion-input>
  <ion-label>Data Checksum</ion-label>
  <ion-textarea style="width: 100%; height: 500px;" [(ngModel)]="datachecksum"></ion-textarea>
  <hr/>
  <ion-button (click)="disableCashin()">Disable</ion-button> 
  <ion-button (click)="enableCashin()">Enable</ion-button> 
  <ion-button (click)="initDirectSerial()">Initi Direct service</ion-button> 
  <ion-button (click)="directCommand()">Direct Command</ion-button>  
  <ion-button (click)="closeDirectCommand()">Close Direct Command</ion-button>  

</ion-content>