<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-list>
    <ion-item *ngFor="let item of list_order" class="active-item">
      <ion-grid>
        <ion-row class="row-main">
  
          <!-- Wrap icon + ID/Device/Package together -->
          <ion-col size="6" >
  
            <div class="col-list">
              <div class="label_id">ID:</div>
              <div class="value">{{ item.id }}</div>
            </div>
  
            <div class="col-list">
              <div class="label_id">Device:</div>
              <div class="value">{{ item.deviceId }}</div>
            </div>
  
            <div class="col-list">
              <div class="label_id">Package:</div>
              <div class="value">{{ item.packageId }}</div>
            </div>
          </ion-col>
          <ion-col size="6" class="info-flex">
            <ion-icon name="time-outline" color="medium" style="font-size: 30px;"></ion-icon>
          </ion-col>
  
          <!-- Times column -->
          <ion-col size="12" size-md="6" class="times-col">
            <div class="time-row">
              <div>
                <div class="label">Started</div>
                <div class="value">{{ item.startedTime ? (item.startedTime | date:'short') : '-' }}</div>
              </div>
              <div>
                <div class="label">Completed</div>
                <div class="value">{{ item.completedTime ? (item.completedTime | date:'short') : '-' }}</div>
              </div>
            </div>
          </ion-col>
  
          <!-- Buttons -->
          <ion-col size="12" class="times-col">
            <div class="time-row">
              <ion-button (click)="onClick_detail(item)">Detail</ion-button>
            </div>
          </ion-col>
  
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
