<ion-header>
  <ion-toolbar>
    <ion-title>product-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-img [src]="showImage(s!.image)"></ion-img>
      <input type="file" name="file" accept="image/*"
      (change)="handleInputChange($event)">
        <button 
      (click)="cancel()">Clear</button>
    </ion-item>
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-label  slot="end" >{{s.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Price</ion-label>
      <ion-label  slot="end" >{{s.price|number}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>QTT</ion-label>
      <ion-label  slot="end" >{{s.qtty|number}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Active</ion-label>
      <ion-toggle slot="end" [(ngModel)]="s!.isActive" ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-button slot="first" (click)="save()">Save</ion-button> <ion-button slot="end" (click)="close()">Close</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
