<ion-header>
  <ion-toolbar>
    <ion-title>product-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-img [src]="showImage(s.image)"></ion-img>
      <input type="file" name="file" accept="image/*"
      (change)="handleInputChange($event)">
        <button 
      (click)="cancel()">Clear</button>
    </ion-item>
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input type="text" slot="end"  [(ngModel)]="s.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input type="number" slot="end"  [(ngModel)]="s.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>QTT</ion-label>
      <ion-input type="number" slot="end"   [(ngModel)]="s.qtty"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Active</ion-label>
      <ion-toggle slot="end" [(ngModel)]="s.isActive" ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-button (click)="save()">Save</ion-button> <ion-button (click)="close()">Close</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
