.box img {

    width: 248px;
    height: 248px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.money{
    width: 280px;
    height: 280px;
}

.green-counter{
    color:green;
    font-size: 90px;
}
.yellow-counter{
    color:orange;
    font-size: 90px;
}
.red-counter{
    color:red;
    font-size: 90px;
}
.pad-button{
    font-size: 60px;
    height: 100px;
}



.desc{
    font-size: x-large;
}
.title{
    font-size: xx-large;
}
.moneyimg{
    width: 230px;
    height: 230px;
}