.box img {

    width: 148px;
    height: 148px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.money{
    width: 100px;
    height: 100px;
}

.green-counter{
    color:green;
}
.yellow-counter{
    color:orange;
}
.red-counter{
    color:red;
}
