<ion-header>
  <div class="box">
    <img  style="border-radius: 15px; height:'500px'; width: auto;" alt="Silhouette of mountains" src="/assets/icon/mmoneyaward.jpeg" />
    <!-- <img src="assets/icon/favicon.png"/> -->
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="watermark" *ngIf="test.test">
    TEST MODE 
  </div>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" >Payment</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-item class="title"> All Notes</ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip class="money" *ngFor="let n of bankNotes">
          <div>
            <img [src]="'/assets/icon/'+n.image">
            <div>{{n.value|number}}</div>
            <div>{{n.currency}}</div>
          </div>
        </ion-chip>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>

        <ion-item class="title"> Title: &nbsp;<h1>{{accountname}}</h1> / <h4>{{accountRef}}</h4>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="desc"> Transaction would be end in &nbsp; &nbsp;  <h1 class="{{timer.t>10?'green-counter':timer.t>5?'yellow-counter':'red-counter'}}">{{timer.t}}</h1>  &nbsp; &nbsp;  seconds ...</ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="title"> <u>Total BankNote</u></ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let n of billCashIn; let i = index">
      <ion-col>
        {{i+1}}.-
        <div class="desc">{{n.transactionID}}<<<< {{n.bankNotes.length|number}} >>>> {{sumBN.value|number}}</div>
        <ion-chip class="money" *ngFor="let m of n.bankNotes" >
          <div>
            <img class="moneyimg" [src]="'/assets/icon/'+m?.image">
            <div>{{m?.value|number}}</div>
            <div>{{m?.currency}}</div>
            
          </div>
        </ion-chip>
       
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <hr/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item> Bad BankNote</ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <hr/>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let n of billCashIn; let i = index">
      <ion-col>
        {{i+1}}.-
        <div>{{n.transactionID}}</div>
        <ion-chip class="money" *ngFor="let m of n.bankNotes;" >
          <div>
            <img [src]="'/assets/icon/'+m?.image">
            <div>{{m?.value|number}}</div>
            <div>{{m?.currency}}</div>
            
          </div>
        </ion-chip>
       
      </ion-col>
    </ion-row> -->
  </ion-grid>
  
  <div>
  <ion-row>
    <br/>
    <ion-col>
      <ion-button (click)="refresh()" color="medium" class="pad-button"><ion-icon name="reload-outline"></ion-icon> &nbsp;Refresh</ion-button>
  
    </ion-col>

  <ion-col>
    <img src="/assets/icon/down.gif"  style="width:200px; height:200px; float:right"/>
  </ion-col>
</ion-row>
   
   
  </div>
</ion-content>