.box img {

    width: 248px;
    height: 248px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.money{
    width: 280px;
    height: 280px;
}

.green-counter{
    color:green;
}
.yellow-counter{
    color:orange;
}
.red-counter{
    color:red;
}
.pad-button{
    font-size: 60px;
}