.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  canvas {
    width: 260px;
    height: 260px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
  }

  .info-card {
    width: 100%;
    max-width: 350px;
    text-align: left;
  }

  ion-card-title {
    font-size: 18px;
    color: var(--ion-color-primary);
  }

  ion-card-content p {
    margin: 5px 0;
    font-size: 15px;
  }
}
