ion-content {
    --ion-background-color: #F5F5F5;
    // --ion-background-color: #EE3124;
}

.laab-card {
    margin: 10px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,49,36,0.7161239495798319) 0%, rgba(214,43,31,1) 100%, rgba(255,255,255,1) 100%);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    padding: 10px;

    .laab-card-options {
        display: flex;
        justify-content: space-between;
        width: 100%;

       .right {
            .btn-close-modal {
                color: #fff;
                text-decoration: none;
            }
       }
    }

    .laab-card-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;

        .title {
            font-size: 35px;
            font-weight: bold;
        }
        .sub-title {
            font-size: 14px;
            font-weight: 300;
        }

        .cash-balance {
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 30px;
            letter-spacing: 4px;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            span {
                font-size: 14px;
                display: flex;
                position: relative;
                padding-left: 10px;
                top: 3px;
            }
        }



    }





    .laab-card-body {
        position: relative;
        display: flex;
        flex-direction: column;

        .arrow-scroll-up, .arrow-scroll-down {
            position: absolute;
            bottom: 0; right: 10px;
            font-size: 30px;
            color: #fff;
            display: none;
        }
        .arrow-scroll-up.active, .arrow-scroll-down.active {
            display: block;
        }


        .order-list.order
        .order-list.hidden {
            max-height: 700px;
            min-height: 700px;
        }
        .order-list {
            margin-top: 35px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            overflow-y: scroll;
            max-height: 1310px;
            min-height: 1310px;
            transition: .2s;

            // max-height: 500px;
            // min-height: 500px;

            
            padding-bottom: 50px;
            margin-left: 10px;
            margin-right: 10px;

            .item-buymore {
                border: 1px dashed #fff;
                position: relative;
                height: 300px;
                width: 100%;
                border-radius: 5px;
                transition: .2s;

                .icon {
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    transition: .2s;

                    i {
                        font-size: 30px;
                    }
                }
            }
            .item-buymore:hover {
                background: #ff9b94;
            }

            .item {
                background: rgb(255,255,255);
                background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(203,203,203,1) 100%, rgba(0,0,0,1) 100%);
    
                border: 1px solid #fff;
                color: #333;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                padding-top: 20px;
                overflow: hidden;
                max-height: 300px;
                width: 100%;
                position: relative;
                padding-bottom: 10px;
    
                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    .icon {
                        // background: #ffff;
                        color: #fff;
                        text-align: center;
                        font-size: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        border-radius: 5px;
                        font-weight: 300;
    
                        img {
                            width: 120px;
                            height: 120px;
                        }
                    }
    
                    .detail {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        margin-top: 20px;
    
                        .text {
                            margin-top: 10px;
                            font-size: 16px;
                            font-weight: bold;
                            color: #fff;
                        }
    
                        .price {
                            color: #333;
                        }
                    }
    
                    .btn-epin {
                        margin-top: 20px;
                        text-decoration: none;
                        color: #333;
    
                        // background: rgb(255,255,255);
                        // background: linear-gradient(288deg, rgba(255,255,255,1) 0%, rgba(255,205,141,1) 0%, rgba(255,129,124,1) 100%, rgba(255,255,255,1) 100%);
    
                        background: rgb(255,255,255);
                        background: linear-gradient(280deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 0%, rgba(208,208,208,1) 100%, rgba(0,0,0,1) 100%);
    
                        box-shadow: 0px 2px 5px rgba(0,0,0,.2);
                        border-radius: 5px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }
        .order-list::-webkit-scrollbar {
            height: 0;
            width: 0;
        }


        
    }
    .laab-card-body::-webkit-scrollbar {
        height: 0;
        width: 0;
    }





    .laab-card-footer.active  {
        display: flex;
        flex-direction: column;
    }
    .laab-card-footer {
        position: absolute;
        left: 0; right: 0; bottom: 0; top: 850px;
        // left: 0; right: 0; bottom: 0; top: 200px;

        margin: 0px 10px 10px 10px;
        transition: .2s;
        overflow: hidden;
        display: none;




        .payment-group {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            grid-gap: 20px;

            .payment-group-left.active {
                grid-column: 1 / span 2;
            }
            .payment-group-left {
                grid-column: 1 / span 3;
                transition: .4s;

                .title {
                    font-size: 20px;
                    font-weight: bold;
                    border-bottom: 1px solid #fff;
                    color: #fff;
                }

                .item-list {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 10px;
                    grid-row-gap: 20px;
                    margin-top: 15px;
        
                    .item {
                        text-decoration: none;
                        color: #333;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;
        
                        .check-choice {
                            padding-bottom: 5px;
        
                            .input-choice {
                                transform: scale(1.5);
                                accent-color: #DD3E37;
                            }
                            .label-choice {
                                padding-left: 15px;
                                font-weight: 300;
                                font-size: 14px;
                                color: #fff;
                            }
                        }
                        .icon {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            transition: .2s;
                           
        
                            img {
                                width: 70px;
                                height: 70px;
                                border: 1px solid #fff;
                                border-radius: 5px;
                                box-shadow: 0px 2px 10px #860000;
                                background: #fff;
                                padding: 5px;
                            }
                        }
                        .icon:hover {
                            img {
                                box-shadow: 0px 2px 10px #fff;
                            }
                        }
                    }
                    .item:first-child {
                        margin-top: 0px;
                    }
                }
            }

            .payment-group-right {
                overflow: hidden;
                width: 0px;
                transition: .4s;

                .billing-container {
                    background: #fff;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    padding: 10px;
                    overflow: hidden;
                    margin-top: 25px;
                    position: relative;
                    width: 300px;
                    display: none;
                    height: 95%;

    
                    .shape-header-list {
                        display: flex;
                        position: absolute;
                        top: 0; left: 0; right: 0;

                        .shape {
                            border-top: 11px solid #DD3E37;
                            border-left: 11px solid transparent;
                            border-right: 11px solid transparent;
                            height: 0;
                            min-width: 15px;
                        }
                    }
    
                    .qr-container {
                        display: flex;
                        justify-content: center;
                        margin-top: 15px;

                        .qr-img {
                            width: 150px;
                            height: 150px;
                        }
                    }
    
                    .title {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                    }
    
                    .total {
                        font-size: 40px;
                        font-weight: bold;
                        text-align: center;
                        padding-top: 15px;
                        padding-bottom: 10px;
                    }
    
                    .head, .body, .footer {
                        height: 50px;
                        border-top: 1px dashed #3333;
                        border-bottom: 1px dashed #3333;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: #666;
                        font-size: 14px;
                        font-weight: 300;
                    }
                    .body {
                        border-top: none;
                        border-bottom: 1px dashed #3333;
                        height: 100px;
                    }
                    .footer {
                        border: none;
                        margin-top: 15px;
                        color: #333;
                        font-weight: bold;
                    }
                    .contact {
                        text-align: center;
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 20px;
                        padding-bottom: 15px;
                    }
    
                    .shape-footer-list {
                        display: flex;
                        position: absolute;
                        bottom: 0; left: 0; right: 0;
    
                        .shape {
                            border-bottom: 11px solid #DD3E37;
                            border-left: 11px solid transparent;
                            border-right: 11px solid transparent;
                            height: 0;
                            min-width: 15px;
                        }
                    }
                }
            }
            .payment-group-right.active {
                width: 300px;
    
                .billing-container {
                    display: block;
                }
            }


        }
    }
}

