.title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}


.item-list {
  display: flex;
  gap: 10px;

  .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      width: 80px;

      .icon img {
          width: 80px;
          height: 80px;
          background: #fff;
          box-shadow: 0px 2px 5px rgba(0,0,0,.2);
          border-radius: 5px;
          padding: 10px;
      }

      .text {
          font-size: 16px;
          font-weight: 300;
          color: #fff;
          padding-top: 10px;
          text-align: center;
      }
  }
  .item.active {
     
      .icon img {
          background: #e7e7e7;
      }
  }
}




.main-top {
    padding: 20px;
    width: 100%;
    height: 180px;
    // background: linear-gradient(var(--theme-title), #ffe6e6);
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
  
  .div-content {
    background: white;
    width: 100%;
    // border-top-left-radius: 75px;
    // border-top-right-radius: 75px;
    margin-top: -120px;
    padding: 20px;
    padding-top: 30px;
  }
  
  .div-qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .phonenumber {
    font-size: 18px;
    font-family: "Signika Negative", sans-serif;
    padding: 10px;
  }
  
  
  
  .div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--ion-color-gray);
  
    .div-input {
      align-items: center;
  
      input {
        margin: 5px 0px 10px;
        height: 50px;
        width: 300px;
        align-items: center;
        font-size: 18px;
        border-radius: 5px;
      }
      wj-input-number {
        margin: 5px 0px 10px;
        height: 50px;
        width: 300px;
        align-items: center;
        font-size: 18px;
      }
    }
  }
  
  input {
    background-color: var(--theme-white);
  }
  
  input {
    text-align: center;
    display: block;
    margin: 0 0 1em 0;
    width: 90%;
    border: 1px solid #818181;
    padding: 5px;
  }
  
  
  
  .name-currency{
      margin-left: 5px;
  }
  
  .color-red {
    color: red;
  }
  
  .color-blue {
    color: black;
  }