<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pay qr code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    Option payment
  </div>
  <div class="item-list">
    <a *ngFor="let list of paymentList; let i = index" (click)="choosePaymentMethod(list)"
      href="javascript:void(0)" class="item active">
      <div class="icon">
        <img src="{{ list.image }}" alt="">
      </div>
      <div class="text">{{ list.name }}</div>
    </a>

  </div>

  
  <div class="main-top"></div>
  <div class="div-content">
    <div class="div-qr-code">
      <ion-label>devices number: {{data_device?.tasmotaId || data_device}}</ion-label>
      <ion-label>pagekets: {{data_pageket?.price | number}}</ion-label>
      <div *ngIf="qrcode_logo" style="display: flex;justify-content: center;">
        <img src="{{qrcode_logo}}" alt="" >
      </div>

      <div style="display: flex;flex-direction: row;">
        <ion-label >currency:</ion-label>
        <ion-label class="name-currency">LAK</ion-label>
      </div>
    </div>
  </div>
</ion-content>