ion-content {
    --ion-background-color: #F5F5F5;
    // --ion-background-color: #EE3124;
}

.laab-card {
    margin: 10px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fff;
    // background: #EE3124;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,49,36,0.7161239495798319) 0%, rgba(214,43,31,1) 100%, rgba(255,255,255,1) 100%);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    padding: 10px;

    .laab-card-options {
        display: flex;
        justify-content: space-between;
        width: 100%;

       .right {
            .btn-close-modal {
                color: #fff;
                text-decoration: none;
            }
       }
    }

    .laab-card-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;

        .title {
            font-size: 35px;
            font-weight: bold;
        }
        .sub-title {
            font-size: 14px;
            font-weight: 300;
        }

        .cash-balance {
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 30px;
            letter-spacing: 4px;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            span {
                font-size: 14px;
                display: flex;
                position: relative;
                padding-left: 10px;
                top: 3px;
            }
        }



    }





    .laab-card-body {
        display: flex;
        flex-direction: column;

        .form-order-paid {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin: 0px 10px;
            gap: 30px;
        }



        .form-order-paid .form-order-paid-left {
            grid-column: 1 / span 3;
            position: relative;
            transition: .2s;

            .title {
                font-size: 20px;
                color: #fff;
                border-bottom: 1px solid #fff;
            }

            .text-section {
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
            }
            .text-section:first-child {
                margin-top: 5px;
            }

            .item-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
                grid-row-gap: 20px;
                margin-top: 5px;

                .item {
                    text-decoration: none;
                    color: #333;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .check-choice {
                        padding-bottom: 5px;

                        .input-choice {
                            transform: scale(1.5);
                            accent-color: #DD3E37;
                        }
                        .label-choice {
                            padding-left: 15px;
                            font-weight: 300;
                            font-size: 14px;
                            color: #fff;
                        }
                    }
                    .icon {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        transition: .2s;
                       
    
                        img {
                            width: 70px;
                            height: 70px;
                            border: 1px solid #fff;
                            border-radius: 5px;
                            box-shadow: 0px 2px 10px #860000;
                            background: #fff;
                            padding: 5px;
                        }
                    }
                    .icon:hover {
                        img {
                            box-shadow: 0px 2px 10px #fff;
                        }
                    }
                }
                .item:first-child {
                    margin-top: 0px;
                }
            }



            
        }
        .form-order-paid .form-order-paid-left.active {
            grid-column: 1 / span 2;
        }



        .form-order-paid .form-order-paid-right {
            overflow: hidden;
            width: 0px;
            transition: .2s;
            

            .billing-container {
                background: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding: 10px;
                overflow: hidden;
                margin-top: 25px;
                position: relative;
                width: 300px;
                display: none;

                .shape-header-list {
                    display: flex;
                    position: absolute;
                    top: 0; left: 0; right: 0;

                    .shape {
                        border-top: 11px solid #DD3E37;
                        border-left: 11px solid transparent;
                        border-right: 11px solid transparent;
                        height: 0;
                        min-width: 15px;
                    }
                }

                .qr-container {
                    display: flex;
                    justify-content: center;
                    margin-top: 15px;

                    .qr-img {
                        width: 250px;
                        height: 250px;
                    }
                }

                .title {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                }

                .total {
                    font-size: 40px;
                    font-weight: bold;
                    text-align: center;
                    padding-top: 25px;
                    padding-bottom: 10px;
                }

                .head, .body, .footer {
                    height: 50px;
                    border-top: 1px dashed #3333;
                    border-bottom: 1px dashed #3333;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #666;
                    font-size: 14px;
                    font-weight: 300;
                }
                .body {
                    border-top: none;
                    border-bottom: 1px dashed #3333;
                    height: 100px;
                }
                .footer {
                    border: none;
                    margin-top: 15px;
                    color: #333;
                    font-weight: bold;
                }
                .contact {
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    margin-top: 20px;
                    padding-bottom: 15px;
                }

                .shape-footer-list {
                    display: flex;
                    position: absolute;
                    bottom: 0; left: 0; right: 0;

                    .shape {
                        border-bottom: 11px solid #DD3E37;
                        border-left: 11px solid transparent;
                        border-right: 11px solid transparent;
                        height: 0;
                        min-width: 15px;
                    }
                }
            }
        }
        .form-order-paid .form-order-paid-right.active {
            width: 300px;

            .billing-container {
                display: block;
            }
        }
    }
    .laab-card-body::-webkit-scrollbar {
        height: 0;
        width: 0;
    }





    .laab-card-footer {
        position: absolute;
        left: 0; right: 0; bottom: 0;
        margin: 0px 10px 10px 10px;

        .sum-list {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;

            .group:first-child {
                margin-top: 0px;
            }
            .group {
                display: flex;
                justify-content: space-between;
                color: #fff;
                font-size: 20px;
                margin: 10px 0px;
            }
        }
        

        .btn-submit {
            height: 50px;
            border: 1px solid #3333;
            background: #EE3124;
            color: #fff;
            border-radius: 5px;
            transition: .2s;
            width: 100%;
        }
        .btn-submit:hover {
            background: #d62b1f;
        }

        .btn-options {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            

            .item-left {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                width: 100%;
                padding: 10px;
                transition: .2s;

                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,49,36,1) 0%, rgba(255,161,161,1) 100%, rgba(255,255,255,1) 100%);

                .left {
                    width: 50px;
                    text-align: center;
                    font-size: 30px;
                    
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: flex-end;
                    color: #fff;

                    .text {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .sub-text {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
            .item-left:hover {
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(226,15,0,1) 0%, rgba(255,102,102,1) 100%, rgba(255,255,255,1) 100%);
            }

            .item-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                width: 100%;
                padding: 10px;
                transition: .2s;
                
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,161,161,1) 0%, rgba(238,49,36,1) 100%, rgba(255,255,255,1) 100%);
                
                .left {

                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: flex-start;
                    color: #fff;

                    .text {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .sub-text {
                        font-size: 14px;
                        font-weight: 300;
                    }  
                }

                .right {
                    width: 150px;
                    text-align: center;
                    font-size: 30px;

                    img {
                        border: 2px solid #ffff;
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            .item-right:hover {
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,102,102,1) 0%, rgba(226,15,0,1) 100%, rgba(255,255,255,1) 100%);
            }
        }
    }
}