<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-particles

    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
></ng-particles>
  <div class="placeholder">
    <div id="player" class="player" [class.voted]="flipped">
      <div class="front">
        <img [src]="imgSrc" />
      </div>
      <div class="back">
        <img [src]="imgSrc" />
      </div>
    </div>
    <ion-label class="overlay-centered">
      {{result}}
    </ion-label>

   
  </div>

  <button  id="button"  class="button-82-pushable"   (click)="pickResult()" role="button">
    <span class="button-82-shadow"></span>
    <span class="button-82-edge"></span>
    <span class="button-82-front text">
      {{luckyText}}
    </span>
  </button>

  
  <ion-item-divider>
    <ion-item (click)="flipIt()">
      ຜົນ:
    </ion-item>
  </ion-item-divider>

  <ion-card color="primary" *ngFor="let r of results" style="float: left; " 
  

  
  >
    <ion-card-header>
      <ion-card-title>ຜົນສຸ່ມ</ion-card-title>
      <ion-card-subtitle>ກະລຸນາສົ່ງຜົນສຸ່ມເພື່ອລຸ້ນລາງວັນ</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{r}}
    </ion-card-content>
  </ion-card>
</ion-content>