version: "3.7"
services:
  pkiosk-service:
    build: . 
    restart: always
    container_name: pkiosk-service
    # image: touyara/orderbillingapi:v1
    # command: npm start
    environment:
      - DATABASE_HOST=host.docker.internal
      - DATABASE_USER=dbvenderserveradmin
      - DATABASE_DB=dbvenderservice
      - DATABASE_PASSWORD=2Grg7Dith14P
      - VENDING=false
      - PORT=9009
    ports:
      - 9009:9009

    volumes:
      - .:/app
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - back-notused:/opt/app/node_modules
    networks:
      - pkiosk-service
    # depends_on:
    #   - etl-topup-service
      #- postgresql
      #- redis

  
volumes:
  back-notused:
networks:
  pkiosk-service: