<ion-content>

  <div class="section-navbar">
    <div class="left">
      <a (click)="close()" href="javascript:void(0)" class="btn-back"><i class="fa-solid fa-arrow-left"></i></a>
      <div class="item-text">Manage Sub-Admin Create</div>
    </div>
    <div class="right">

    </div>
  </div>

  <div class="space"></div>

  <div class="form-container">
    <div class="item-card">
      <div class="item-card-body">
        <div class="form-group">
          <label for="">Phone number</label>
          <input type="text" placeholder="Enter phone number" class="form-control">
        </div>
        <button class="btn-submit">Submit</button>
      </div>
    </div>
  </div>

</ion-content>
