// // ion-content {
// //   --background: #f4f5f8;
// // }

// // ion-card {
// //   margin: 16px;
// // }

// // ion-item-divider {
// //   --background: #3880ff;
// //   --color: #fff;
// // }


// .owner-menu {
//   border-radius: 12px;
//   overflow: hidden;
//   background: var(--ion-color-light);

//   ion-list-header {
//     background: var(--ion-color-light-tint);
//     padding: 8px 16px;

//     .menu-header {
//       font-size: 1.1rem;
//       font-weight: 600;
//       color: var(--ion-color-tertiary);
//     }
//   }

//   .menu-item {
//     --padding-start: 16px;
//     --padding-end: 16px;
//     font-size: 1rem;
//     font-weight: 500;

//     ion-icon[slot="start"] {
//       font-size: 1.4rem;
//     }

//     ion-icon[slot="end"] {
//       font-size: 1.2rem;
//     }

//     &:hover {
//       background: var(--ion-color-light-shade);
//       transition: background 0.3s ease;
//     }
//   }
// }



.dashboard-container {
  --background: #f5f7fa;
  min-height: 80vh;
}

.dashboard-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.menu-card {
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background: white;
}

.menu-card:hover {
  transform: translateY(-4px);
}

.card-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  font-size: 2rem;
  color: var(--ion-color-primary);
  margin-bottom: 10px;
}

.logout-container {
  margin-top: 30px;
}
