<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to Tasmota Control</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="role === 'admin' ||'1'">
        <ion-item button (click)="navigateTo('/admin-dashboard')">
          <ion-label>View All Devices</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('/admin-reports')">
          <ion-label>View Reports</ion-label>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="role === 'owner' ||'1'">
        <ion-item button (click)="navigateTo('/owner-dashboard')">
          <ion-label>Add Device</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('/owner-reports')">
          <ion-label>View Reports</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('/owner-schedules')">
          <ion-label>View Schedules</ion-label>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="role === 'user' ||'1'">
        <ion-item button (click)="navigateTo('/user-dashboard')">
          <ion-label>List Devices</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('/user-schedules')">
          <ion-label>Set Schedules</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('/user-reports')">
          <ion-label>View Reports</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>