<ion-header>
  <ion-toolbar>
    <ion-title>reportrefillsale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip (click)="close()"> CLOSE</ion-chip>
  <ion-chip (click)="clear()">CLEAR</ion-chip> 
<ion-grid>
  <ion-row>
    <ion-col><ion-chip *ngFor="let t of byTimes" (click)="setFilter(t)">{{t}}</ion-chip></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>update </ion-col>
    <ion-col>position</ion-col>
    <ion-col>name</ion-col>
    <ion-col>price</ion-col>
    <ion-col>qtty</ion-col>
    <ion-col>photo</ion-col>
  </ion-row>
  <ion-row *ngFor="let s of f_sells">
    <ion-col>{{s.updatedAt}}</ion-col>
    <ion-col>{{s.position}}</ion-col>
    <ion-col>{{s.stock.name}}</ion-col>
    <ion-col>{{s.stock.price}}</ion-col>
    <ion-col>{{s.stock.qtty}}</ion-col>
    <ion-col><img src="{{url+'/public/'+s.stock.image}}"  style="width:100px;height:240px"/></ion-col>
  </ion-row>
</ion-grid>
</ion-content>
