<ion-content class="ion-padding">
  <div style="display: flex;flex-direction: row;justify-content: space-between;">
    <div class="title">
      ລາຍການກະຕ່າ
    </div>
    <div>
      <ion-icon (click)="dismiss()" style="font-size: 42px;color: red;" name="close-outline"></ion-icon>
    </div>
  </div>

  <ion-grid>
    <ion-row class="menu-area">
  <!-- Add New Card -->
    <ion-col size="6" size-sm="6" size-md="4" size-lg="3" >
      <ion-card class="food-item add-card" (click)="Click_AddNew()">
        <ion-card-header class="image-add">
          <ion-icon name="add" style="font-size: 90px; color: red;"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title class="add-new">ເພີ່ມເມນູ</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>



      <ion-col size="6" size-sm="6" size-md="4" size-lg="3"  *ngFor="let item of PostArray;let j=index">
        <ion-card class="food-item" (click)="Click_DetailProduct(item)">
          <ion-card-header class="food-image">
            <img class="imgae-placeholder" src="{{item.pic}}" alt="">
          </ion-card-header>
          <ion-card-content>
            <ion-card-title class="food-name">{{ item.primaryProduct?.product?.name }}</ion-card-title>
            <ion-text class="food-price" color="danger">{{ item.total_price | number}} Kip</ion-text>

                  <!-- Qty Control -->
            <div class="qty-control" (click)="$event.stopPropagation()">
              <ion-button size="small" fill="outline" (click)="getqty(0,j)">-</ion-button>
              <span class="qty-number">{{item.qty}}</span>
              <ion-button size="small" fill="outline" (click)="getqty(1,j)">+</ion-button>
            </div>


            <div class="delete-wrapper">
              <div class="delete-icon-cart" (click)="Click_Delete(item)">
                <ion-icon name="trash-outline"></ion-icon>
              </div>
            </div>
                     
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="Check_cart()">
  <ion-toolbar>
    <ion-grid>
      <!-- <ion-row class="footer-summary">
        <ion-col size="6" class="summary-text">
          ຄ່າທໍານຽມລະບົບ:
        </ion-col>
        <ion-col size="6" class="summary-text" style="text-align: right;">
          ລວມລາຄາ: <strong>{{CeilValue(calculateFinalPrice?.systemFee) | number}} Kip</strong>
        </ion-col>
      </ion-row>

      <ion-row class="footer-summary">
        <ion-col size="6" class="summary-text">
          ຄ່າທໍານຽມ QR:
        </ion-col>
        <ion-col size="6" class="summary-text" style="text-align: right;">
          ລວມລາຄາ: <strong>{{CeilValue(calculateFinalPrice?.qRfee) | number}} Kip</strong>
        </ion-col>
      </ion-row>

      <ion-row class="footer-summary">
        <ion-col size="6" class="summary-text">
          ຄ່າອາກອນ:
        </ion-col>
        <ion-col size="6" class="summary-text" style="text-align: right;">
          ລວມລາຄາ: <strong>{{CeilValue(calculateFinalPrice?.vat) | number}} Kip</strong>
        </ion-col>
      </ion-row> -->

      <ion-row class="footer-summary">
        <ion-col size="6" class="summary-text">
          ຈຳນວນທັງໝົດ: <strong>{{ getTotalQty() }}</strong>
        </ion-col>
        <ion-col size="6" class="summary-text" style="text-align: right;">
          ລວມລາຄາ: <strong>{{getTotalPrice() | number}} Kip</strong>
        </ion-col>
        <!-- <ion-col size="6" class="summary-text" style="text-align: right;">
          ລວມລາຄາ: <strong>{{CeilValue(calculateFinalPrice?.finalPrice) | number}} Kip</strong>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-button expand="block" color="primary" class="add-to-cart" (click)="selldelivery()">
    ຊື້ເລີຍ (BUY NOW)
  </ion-button>
</ion-footer>

