.input-item {
    --padding-start: 14px;
    --inner-padding-end: 14px;
    margin-top: 12px;
    border-radius: 12px;
    --background: #f8f9fa;
  }

// =============================
.thumbnail-section {
    margin-bottom: 16px;
    text-align: center;
  }
  
  .thumbnail-preview {
    position: relative;
    display: inline-block;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  
    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      object-fit: cover;
    }
  
    ion-fab {
      position: absolute;
      top: 6px;
      right: 6px;
    }
  }
  