/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



:root {
	--ion-color-primary: #3880ff;
	--ion-color-primary-rgb: 56,128,255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #3171e0;
	--ion-color-primary-tint: #4c8dff;

	--ion-color-secondary: #5260ff;
	--ion-color-secondary-rgb: 82,96,255;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #4854e0;
	--ion-color-secondary-tint: #6370ff;

	--ion-color-tertiary: #5260ff;
	--ion-color-tertiary-rgb: 82,96,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4854e0;
	--ion-color-tertiary-tint: #6370ff;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}

ion-item {
    border-radius: 10px;
    box-shadow: 0px 13px 30px 0px rgba($color: #000000, $alpha: 0.09);
    /* padding: 8px; */
    margin-top: 8px;
    margin-bottom: 16px;

    ion-icon {
      font-size: 21px;
      margin-right: 16px;
      color: var(--ion-color-medium);
    }

    ion-input {
      padding-left: 10px !important;
      border-left: 1px solid #f4f4f4;
      background-color: var(--ion-color-danger);
    }
  }
  ion-icon {
    font-size: 21px;
    margin-right: 16px;
    color: var(--ion-color-medium);
  }

  ion-input {
    padding-left: 10px !important;
    border: 1px solid #f4f4f4;
    background-color: var(--ion-color-danger);
  }




//   .modal-wrapper, .modal-shadow{
// 	align-items: center;
// 	justify-content: center; 
// 	--height: 100%; 
// 	--width: 100%; 
//   }

//   .dialog-fullscreen .modal-wrapper {
// 	align-items: center;
// 	justify-content: center; 
// 	--height: 100%; 
// 	--width: 100%; 
//   }

  .dialog-fullscreen {
	align-items: center;
	justify-content: center; 
	&::part(content){
	  width: 90%;
	  height: 80%; 
	}
  }

.form-control:focus {
    box-shadow: none;
    border-color: #DA0037;
}
.form-control:read-only {
    background: #fff;
}








// **** control menu **** 
// how to use control menu
// 1 create control menu service class for save list and state
// 2 toggle status by setting page then update dynamic status to another form
// 3 add class control-menu and name in element you want to set status


.menu-ticket,
.menu-laab-cashin,
.menu-cashout,
.menu-whatsapp,
.menu-how-to,
.menu-tempurature,
.menu-mmoney-ios-android-qr-link,
.menu-cashout-mmoney-account,
.menu-cashout-laab-account,
.menu-cashout-laab-epin,





.menu-cashout-vietcombank-account,
.menu-cashout-vietinbank-account,
.menu-cashout-icbcbank-account,
.menu-cashout-bocbank-account,
.menu-cashout-kaskornbank-account,
.menu-cashout-bangkokbank-account,
.menu-cashout-bcabank-account,
.menu-cashout-dbsbank-account,
.menu-cashout-abank-account,
.menu-cashout-mcbbank-account
{
	display: none;
}
.menu-ticket.active,
.menu-laab-cashin.active,
.menu-cashout.active,
.menu-whatsapp.active,
.menu-how-to.active,
.menu-tempurature.active,
.menu-mmoney-ios-android-qr-link.active,
.menu-cashout-mmoney-account.active,
.menu-cashout-laab-account.active,
.menu-cashout-laab-epin.active,



.menu-cashout-vietcombank-account.active,
.menu-cashout-vietinbank-account.active,
.menu-cashout-icbcbank-account.active,
.menu-cashout-bocbank-account.active,
.menu-cashout-kaskornbank-account.active,
.menu-cashout-bangkokbank-account.active,
.menu-cashout-bcabank-account.active,
.menu-cashout-dbsbank-account.active,
.menu-cashout-abank-account.active,
.menu-cashout-mcbbank-account.active
{
	display: flex;
}
