<ion-header>
  <ion-toolbar>
    <ion-icon name="close-circle-sharp" (click)="close()"></ion-icon>

    <ion-title>sale-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>MachineId:{{machineId}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>max:{{s.max}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>position:{{s.position}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-chip>Product</ion-chip></ion-label>
      <ion-item *ngIf="s.stock">
        <ion-img class="product_image" [src]="showImage(s.stock.image)"></ion-img>
        <ion-item *ngIf="s.stock">
          <ion-label position="stacked">Product Name</ion-label>
          <ion-input [(ngModel)]="s.stock.name" placeholder="Enter product name" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="s.stock">
          <ion-label position="stacked">Product Price</ion-label>
          <ion-input [(ngModel)]="s.stock.price" placeholder="Enter product price" type="number"></ion-input>
        </ion-item>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-col> <ion-toggle [(ngModel)]="s.isActive" (click)="save()"></ion-toggle></ion-col>

    </ion-item>
    <ion-item>
      <ion-button expand="block" color="primary" (click)="saveChange()">Save</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="close()">Close</ion-button>
    </ion-item>
  </ion-list>
</ion-content>