ion-content {
    --ion-background-color: #f5f6f7;
}

.section-navbar {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 999999;
    background: #A41D4F;
    color: #fff;
    padding: 0px 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0, .2);

    .left {
        display: flex;
        align-items: center;

        .btn-back {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            margin-right: 25px;
        }

        .item-text {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .right {
        display: flex;
        align-items: center;

        .item, .item-underline {
            text-decoration: none;
            color: #fff;
            display: flex;
            align-items: center;

            .text {
                padding-left: 8px;
            }

            i { padding-right: 8px; }
        }

        .item-underline:hover {
            text-decoration: underline;
        }
    }
}

.space {
    margin-top: 60px;
}

.machine-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 15px;
    margin: 10px;

    .item, .item-disable {
        text-decoration: none;
        color: #333;
        font-size: 14px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0px 2px 5px rgba(0,0,0, .2);
        border-radius: 5px;
        padding: 10px;
        transition: .2s;

        .icon {
            display: flex;
            justify-content: center;


            img {
                width: 50px;
                height: 50px;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 15px;
        }
    }
    .item:hover {
        background: #f5f6f7;
    }
    .item-disable {
        background: #9999;
    }
    .item-option.active {
        background: #A41D4F;
        color: #fff;
    }
}