<ion-content class="ion-padding">
  <ion-button expand="block" (click)="checkBillNotPaid()">
    <ion-icon slot="start"></ion-icon>
    ກວດບິນທີ່ຍັງບໍ່ໄດ້ຈ່າຍ
  </ion-button>
  <ion-card class="filter-card">
    <ion-card-header>
      <ion-card-title>ເລືອກຊ່ວງວັນທີ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="date-row">
        <div class="form-group">
          <label>ວັນທີເລີ່ມຕົ້ນ</label>
          <input [(ngModel)]="fromDate" type="date" class="form-control" />
        </div>

        <div class="form-group">
          <label>ວັນທີສິ້ນສຸດ</label>
          <input [(ngModel)]="toDate" type="date" class="form-control" />
        </div>
      </div>

      <!-- ✅ ปุ่มเลือก / ยกเลิกไฟล์ -->
      <div class="file-section">
        <ion-button expand="block" color="primary" (click)="fileInput.click()" [disabled]="selectedFile">
          <ion-icon name="document-attach-outline" slot="start"></ion-icon>
          ເລືອກໄຟລ໌ Excel
        </ion-button>

        <input type="file" accept=".xlsx,.xls" #fileInput hidden (change)="onFileSelected($event)" />

        <div *ngIf="selectedFile" class="file-info">
          <ion-item lines="none">
            <ion-icon name="document-text-outline" slot="start" color="primary"></ion-icon>
            <ion-label>{{ selectedFile.name }}</ion-label>
            <ion-button fill="clear" color="danger" (click)="cancelFile()">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </div>

        <ion-button expand="block" color="success" (click)="onProcess()" [disabled]="!selectedFile">
          <ion-icon name="play-outline" slot="start"></ion-icon>
          ນຳເງິນ
        </ion-button>

        <ion-button expand="block" color="success" (click)="onProcessBilling()" [disabled]="!selectedFile">
          <ion-icon name="play-outline" slot="start"></ion-icon>
          Process Billing
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- ✅ ตารางแสดงผล -->
  <ion-card class="table-card" *ngIf="bankInMyData == null false : true > 0">
    <ion-card-header>
      <ion-card-title>1.ສັງລວມ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ຈຳນວນທັງໝົດ</ion-col>
          <ion-col>ເງິນທັງໝົດ</ion-col>
          <ion-col>HMFranchaseRate</ion-col>
          <ion-col>HMFranchaseFee</ion-col>
          <!-- <ion-col>ເລກອ້າງອີງ</ion-col> -->
        </ion-row>

        <ion-row *ngFor="let p of bankInMyData" class="table-row">
          <ion-col>{{ p['ຈຳນວນທັງໝົດ'] }}</ion-col>
          <ion-col>{{ p['ເງິນທັງໝົດ'] }}</ion-col>
          <ion-col>{{ p['HMFranchaseRate'] }}</ion-col>
          <ion-col>{{ p['HMFranchaseFee'] }}</ion-col>
          <!-- <ion-col>{{ p.memo }}</ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card class="table-card" *ngIf="allMMoneyData.length > 0">
    <ion-card-header>
      <ion-card-title>2.MMoney</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of allMMoneyData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card class="table-card" *ngIf="finalArrayData.length > 0">
    <ion-card-header>
      <ion-card-title>3.ການຂາຍທັງໝົດ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of finalArrayData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="table-card" *ngIf="myBankNoServerData.length > 0">
    <ion-card-header>
      <ion-card-title>4.ບິນທີ່ບໍ່ຮູ້ທີ່ມາຂອງເງິນ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of myBankNoServerData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



  <ion-card class="table-card" *ngIf="myNotInBankNotPaidData.length > 0">
    <ion-card-header>
      <ion-card-title>6.ບິນຍິງຕົກເອງ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of myNotInBankNotPaidData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="table-card" *ngIf="myNotInBankPaidData.length > 0">
    <ion-card-header>
      <ion-card-title>7.ບິນທີ່ຕ້ອງທວງເງິນ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of myNotInBankPaidData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->

</ion-content>