<ion-content class="ion-padding">
  <ion-button expand="block" (click)="checkBillNotPaid()">
    <ion-icon slot="start"></ion-icon>
    ກວດບິນທີ່ຍັງບໍ່ໄດ້ຈ່າຍ
  </ion-button>
  <!-- <ion-button expand="block" (click)="testSave()">
    <ion-icon slot="start"></ion-icon>
    ທົດສອບ
  </ion-button> -->

  <ion-row>
    <ion-col size="4">
      <ion-label>ຊື່ລູກຄ້າ</ion-label>
      <ion-input style="border: 1px solid gray; border-radius: 10px;" [(ngModel)]="customer" type="text"
        placeholder="ລູກຄ້າ"></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-label>ຄ່າທຳນຽມ(%)</ion-label>
      <ion-input style="border: 1px solid gray; border-radius: 10px;" [(ngModel)]="rate" type="text"
        placeholder="ຄ່າທຳນຽມ"></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-label>ປີທີ່ເກັບເງິນ</ion-label>
      <ion-input style="border: 1px solid gray; border-radius: 10px;" [(ngModel)]="year" type="text"
        placeholder="ປິ"></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-label>ເດືອນທີ່ເກັບເງິນ</ion-label>
      <ion-input style="border: 1px solid gray; border-radius: 10px;" [(ngModel)]="month" type="text"
        placeholder="ເດືອນ"></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="savedata()" expand="block" fill="clear" shape="round">
        Save
      </ion-button>
    </ion-col>

    <ion-col size="2">
      <ion-item lines="none">
        <ion-label> ມີຫຼາຍຕູ້ </ion-label>
        <ion-toggle color="success" *ngIf="isManyMachine" checked (ionChange)="storeOpen(0)"></ion-toggle>
        <ion-toggle color="success" *ngIf="!isManyMachine" (ionChange)="storeOpen(1)"></ion-toggle>
      </ion-item>
    </ion-col>


  </ion-row>

  <ion-card class="filter-card">
    <ion-card-header>
      <ion-card-title>ເລືອກຊ່ວງວັນທີ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="date-row">
        <div class="form-group">
          <label>ວັນທີເລີ່ມຕົ້ນ</label>
          <input [(ngModel)]="fromDate" type="date" class="form-control" />
        </div>

        <div class="form-group">
          <label>ວັນທີສິ້ນສຸດ</label>
          <input [(ngModel)]="toDate" type="date" class="form-control" />
        </div>
      </div>

      <!-- ✅ ปุ่มเลือก / ยกเลิกไฟล์ -->
      <div class="file-section">
        <ion-button expand="block" color="primary" (click)="fileInput.click()" [disabled]="selectedFile">
          <ion-icon name="document-attach-outline" slot="start"></ion-icon>
          ເລືອກໄຟລ໌ Excel
        </ion-button>

        <input type="file" accept=".xlsx,.xls" #fileInput hidden (change)="onFileSelected($event)" />

        <!-- <div *ngIf="selectedFile" class="file-info">
          <ion-item lines="none">
            <ion-icon name="document-text-outline" slot="start" color="primary"></ion-icon>
            <ion-label>{{ selectedFile.name }}</ion-label>
            <ion-button fill="clear" color="danger" (click)="cancelFile()">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </div> -->

        <!-- <ion-button expand="block" color="success" (click)="onProcess()" [disabled]="!selectedFile">
          <ion-icon name="play-outline" slot="start"></ion-icon>
          ນຳເງິນ
        </ion-button> -->

        <ion-button expand="block" color="success" (click)="onProcessBilling()">
          <ion-icon name="play-outline" slot="start"></ion-icon>
          Process Billing
        </ion-button>

        <ion-button expand="block" color="success" (click)="showPrintReceipt()">
          <ion-icon name="play-outline" slot="start"></ion-icon>
          ສະແດງໃບບິນ
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- ✅ ตารางแสดงผล -->

  <!-- <ion-card class="table-card" *ngIf="allMMoneyData.length > 0">
    <ion-card-header>
      <ion-card-title>2.MMoney</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of allMMoneyData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card class="table-card" *ngIf="finalArrayData.length > 0">
    <ion-card-header>
      <ion-card-title>3.ການຂາຍທັງໝົດ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of finalArrayData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="table-card" *ngIf="myBankNoServerData.length > 0">
    <ion-card-header>
      <ion-card-title>4.ບິນທີ່ບໍ່ຮູ້ທີ່ມາຂອງເງິນ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of myBankNoServerData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



  <ion-card class="table-card" *ngIf="myNotInBankNotPaidData.length > 0">
    <ion-card-header>
      <ion-card-title>6.ບິນຍິງຕົກເອງ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of myNotInBankNotPaidData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="table-card" *ngIf="myNotInBankPaidData.length > 0">
    <ion-card-header>
      <ion-card-title>7.ບິນທີ່ຕ້ອງທວງເງິນ</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="custom-grid">
        <ion-row class="table-header">
          <ion-col>ເລກທູລະກຳ</ion-col>
          <ion-col>ຈຳນວນເງິນ</ion-col>
          <ion-col>ຊ່ອງທາງ</ion-col>
          <ion-col>ວັນທີ</ion-col>
        </ion-row>

        <ion-row *ngFor="let p of myNotInBankPaidData" class="table-row">
          <ion-col>{{ p['ເລກທູລະກຳ'] }}</ion-col>
          <ion-col>{{ p['ຈຳນວນເງິນ'] }}</ion-col>
          <ion-col>{{ p['ຊ່ອງທາງ'] }}</ion-col>
          <ion-col>{{ p['ວັນທີ'] }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->

</ion-content>