ion-content {
    --ion-background-color: #f5f6f7;
}

.form-upload-container {
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
}




.form-upload-container .form-upload-left {
    width: 60%;

    .form-group {
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }
    .form-group:first-child {
        margin-top: 0px;
    }

    .input-container {
        
        .form-group {
            margin-top: 15px;
            display: flex;
            flex-direction: column;

            label {
                font-size: 14px;
                font-weight: bold;
                padding-bottom: 10px;
            }
        }
 

    }

    .line {
        border-bottom: 1px solid #3333;
        margin: 15px 0px;
    }

    .btn-control {
        display: flex;
        gap: 10px;

        .btn-add-content {
            margin-top: 15px;
            background: #f5f6f7;
            color: #333;
            text-decoration: none;
            border: 1px solid #3333;
            height: 38px;
            border-radius: 5px;
            transition: .2s;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            i { padding-right: 8px; }
        }
        .btn-add-content:hover {
            background: #e7e7e7;
        }
    }
}




.form-upload-container .form-upload-right {
    width: 40%;

    .label-input-file {
        border: 1px solid #3333;
        height: 42px;
        padding: 10px;
        transition: .2s;
        background: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
    }
    .label-input-file:hover {
        // border: 1px solid #9FD295;
        background: rgb(238,251,238);
        background: linear-gradient(0deg, rgba(238,251,238,1) 36%, rgba(255,255,255,1) 100%);
    }

    .group-1 {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .group-2 {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }

    .line {
        border-bottom: 1px solid #3333;
        margin: 15px 0px;
    }

    .form-group {
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        .text {
            font-size: 14px;
            font-weight: 300;
        }
    }

    .btn-control {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
    }
    .btn-upload {
        height: 42px;
        padding: 10px;
        transition: .2s;
        border: 1px solid #9FD295;
        background: rgb(238,251,238);
        background: linear-gradient(0deg, rgba(238,251,238,1) 36%, rgba(255,255,255,1) 100%);
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;

        i { padding-right: 8px; }
    }
    .btn-upload:hover {
        background: rgb(224,255,224);
        background: linear-gradient(0deg, rgba(224,255,224,1) 36%, rgba(255,255,255,1) 100%);
    }

    .btn-cancel {
        height: 42px;
        padding: 10px;
        transition: .2s;
        border: 1px solid #F1B8BD;
        background: rgb(255,243,243);
        background: linear-gradient(0deg, rgba(255,243,243,1) 36%, rgba(255,255,255,1) 100%);
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #BB2D3F;

        i { padding-right: 8px; }
    }
    .btn-cancel:hover {
        background: rgb(255,226,226);
        background: linear-gradient(0deg, rgba(255,226,226,1) 36%, rgba(255,255,255,1) 100%);
    }


}