<ion-content>

  <div class="section-navbar">
    <div class="left">
      <a (click)="close()" href="javascript:void(0)" class="btn-back"><i class="fa-solid fa-arrow-left"></i></a>
      <div class="item-text">CUI Sale</div>
    </div>
    <div class="right">

    </div>
  </div>

  <div class="space"></div>

  <div class="cuisale-container">

    <div class="list-container">
      <a href="javascript:void(0)" class="item">
        <div class="image">
          <img src="" alt="">
        </div>
        <div class="text">
          <div class="qty">0</div>
        </div>
      </a>
    </div>

  </div>

</ion-content>
