<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="show(1)">
      <ion-icon name="business-sharp"></ion-icon>
      <ion-label>My Account</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="show(2)">
      <ion-icon name="laptop-outline"></ion-icon>
      <ion-label>My Machine</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="show(3)">
      <ion-icon name="storefront-sharp"></ion-icon>
      <ion-label>My Products</ion-label>
    </ion-tab-button>
    <ion-tab-button  (click)="show(4)">
      <ion-icon name="pricetags-sharp"></ion-icon>
      <ion-label>My Sale</ion-label>
    </ion-tab-button>
    <ion-tab-button  (click)="show(5)">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>EPIN Admin</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button  (click)="show(6)">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>EPIN Sub Admin</ion-label>
    </ion-tab-button> -->
    <ion-tab-button  (click)="show(6)">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Find My EPIN</ion-label>
    </ion-tab-button>
    <ion-tab-button  (click)="show(7)">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Advertisement</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
