<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="myaccount">
      <ion-icon name="business-sharp"></ion-icon>
      <ion-label>My Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="machine">
      <ion-icon name="business-sharp"></ion-icon>
      <ion-label>My Machine</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="storefront-sharp"></ion-icon>
      <ion-label>My Products</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sale">
      <ion-icon name="pricetags-sharp"></ion-icon>
      <ion-label>My Sale</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
