<ion-content>

  <div *ngIf="showPhonenumberPage == true" class="laab-card">
    <div class="laab-card-options">
      <div class="left"></div>
      <div class="right">
        <a (click)="close()" href="javascript:void(0)" class="btn-close-modal">
          <i class="fa-solid fa-xmark"></i> Close
        </a>
      </div>
    </div>
    <div class="laab-card-header">
      <div class="">
        <div class="title">M-Money Cash out</div>
        <div class="sub-title">Transfer to your M-Money account</div>
      </div>
    </div>
    <div class="laab-card-body">
      <div class="cash-balance">{{ apiService.cash.amount| number }}</div>
     <div class="balance-text">{{ phonenumber }}</div>
     <div class="number-list">
      <div class="left">
        <a *ngFor="let list of numberList; let i = index" (click)="processDigits(list)" href="javascript:void(0)" class="item">{{ list }}</a>
        <div class=""></div>
        <a (click)="processDigits('0')" href="javascript:void(0)" class="item">0</a>
        <div class=""></div>
      </div>
      <div class="right">
        <a (click)="deleteDigits()" href="javascript:void(0)" class="item"><i class="fa-solid fa-trash-can"></i> Delete</a>
        <a (click)="transfer()" href="javascript:void(0)" class="item"><i class="fa-solid fa-right-left"></i> Transfer</a>

      </div>
    </div>
    </div>

  </div>

  <div *ngIf="showMMoneyProfile == true" class="laab-card">
    <div class="laab-card-options">
      <div class="left"></div>
      <div class="right">
        <a (click)="close()" href="javascript:void(0)" class="btn-close-modal">
          <i class="fa-solid fa-xmark"></i> Close
        </a>
      </div>
    </div>
    <div class="laab-card-header">
      <div class="">
        <div class="title">M-Money Cash out</div>
        <div class="sub-title">Transfer to your M-Money account</div>
      </div>
    </div>
    <div class="laab-card-body">
      <div class="cash-balance">{{ apiService.cash.amount| number }}</div>
     <div class="balance-text">{{ phonenumber }}</div>
     <div class="number-list">
      <div class="left">
        <a *ngFor="let list of numberList; let i = index" (click)="processDigits(list)" href="javascript:void(0)" class="item">{{ list }}</a>
        <div class=""></div>
        <a (click)="processDigits('0')" href="javascript:void(0)" class="item">0</a>
        <div class=""></div>
      </div>
      <div class="right">
        <a (click)="deleteDigits()" href="javascript:void(0)" class="item"><i class="fa-solid fa-trash-can"></i> Delete</a>
        <a (click)="transfer()" href="javascript:void(0)" class="item"><i class="fa-solid fa-right-left"></i> Transfer</a>

      </div>
    </div>
    </div>

  </div>

</ion-content>
