.more-setting {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
    margin: 10px;

    .item {
        background: #fff;
        box-shadow: 0px 2px 5px rgba(0,0,0,.2);
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: #333;
        transition: .2s;

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            padding-top: 15px;
            color: #EE3124;
        }

        .text {
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            padding-top: 8px;
            padding-bottom: 5px;
        }
    }
    .item:hover {
        background: #f5f6f7;
    }
}