<ion-header>
  <ion-toolbar>
    <ion-title>How To <ion-icon name="close-outline" (click)="close()"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
<ion-list>
  <ion-item *ngFor="let s of list">
    <div>
      <video  width="400px" height="400px" controls preload="auto"
      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' type="video/mp4">
        <source [src]="s.url" type="video/mp4" />
		        Browser not supported
      </video>
      <ion-label>{{s.name}}</ion-label>
       
       
    </div>
  </ion-item>
</ion-list>
</ion-content>
