<ion-content>

  <div class="ads-backdrop">

    <!-- VIDEO BOX -->
    <div class="ads-container">

      <video #videoPlayer class="ads-video" [src]="currentSrc" (ended)="onEnded()" autoplay muted playsinline>
      </video>

    </div>


    <!-- CONTACT INFO -->
    <div class="view">

      <div class="left">

        <div class="icon">
          <i class="fa-solid fa-phone"></i>
        </div>

        <div class="text">
          <div class="main-text">More Contact</div>
          <div class="sub-text">+85620 5551 6321</div>
        </div>

      </div>


      <div class="right">

        <div class="icon">
          <i class="fa-brands fa-square-facebook icon-facebook"></i>
        </div>

        <div class="text">
          <div class="main-text">Facebook Fan Page</div>
          <div class="sub-text">Dokbouarkham trading</div>
        </div>

      </div>

    </div>


  </div>

</ion-content>