<ion-content>

  <div class="app-container">

    <div class="navbar-container">

    </div>

    <div class="title">Welcome to vending admin services</div>
    <div class="sub-title">Manage Vending and Locker machine, inventory and payment by using blockchains ewallet</div>

    <!-- <div class="item-list">
      <a href="javascript:void(0)" class="item">
        <div class="icon">
          <i class="fa-solid fa-wallet"></i>
        </div>
        <div class="text">My Account</div>
      </a>
      <a href="javascript:void(0)" class="item">
        <div class="icon">
          <i class="fa-solid fa-desktop"></i>
        </div>
        <div class="text">My Machines</div>
      </a>
      <a href="javascript:void(0)" class="item">
        <div class="icon">
          <i class="fa-solid fa-box"></i>
        </div>
        <div class="text">Products</div>
      </a>
      <a href="javascript:void(0)" class="item">
        <div class="icon">
          <i class="fa-solid fa-wallet"></i>
        </div>
        <div class="text">EPIN Admin</div>
      </a>
      <a href="javascript:void(0)" class="item">
        <div class="icon">
          <i class="fa-solid fa-wallet"></i>
        </div>
        <div class="text">Find EPIN</div>
      </a>
      <a href="javascript:void(0)" class="item">
        <div class="icon">
          <i class="fa-solid fa-wallet"></i>
        </div>
        <div class="text">Advertisement</div>
      </a>
    </div> -->

  </div>

</ion-content>