.modal-custom-lg .modal-dialog {
    width: 100%;
    height: 100%;
}

.modal-custom-lg .modal-content {
    width: 100%;
    height: 100%;
}

ion-input{
    --background: #f5f5f5;
    border-width: 1px;
    border-style: inset;
    }
    ion-item {
        --border-color: var(--ion-color-danger, #f1453d);
      }
      
      .pad-button{
        font-size: 60px;
        height: 100px;
    }