.pad-button{
    font-size: 4vh;
    height: 150px;
    color: #000;
    
    
    
}

.pad-button2{
    font-size: 3vh;
    height: 150px;
    
    
    
}

ion-item {

    --ion-background-color:whitesmoke;
}

ion-content{

    --ion-background-color:#dcdcdc;
}

    .fullheight {
        height: 100%;
      }
      
      .xc {
        display: flex;
        align-items: center;
        justify-content: center;
      }