<ion-header>
  <ion-toolbar>
    <ion-title>Remaining Bills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor="let s of r" (click)="retryProcessBill(s.transactionID+'',s.position)">
    <ion-card>
      <ion-item>
        <label>{{s.bill?.vendingsales[0]?.stock?.name}}</label>
      </ion-item>
      <ion-item>
        <img style="width: 200px;height:200px" [src]="s.bill?.vendingsales[0]?.stock?.image.includes(';base64,')?s.bill?.vendingsales[0]?.stock?.image:this.url+'/public/'+s.bill?.vendingsales[0]?.stock.image" >
      </ion-item>
      <ion-item>
        <label>{{s.bill?.vendingsales[0]?.stock?.price}}/<ion-label type="number"  ></ion-label>{{s.bill?.vendingsales[0]?.stock.qtty}}</label>
      </ion-item>
      <!-- <ion-item>
        <ion-button (click)="buyMMoney(s)" type="button">Buy</ion-button>
        <ion-button (click)="addOrder(s)" type="button">Add</ion-button>
      </ion-item> -->
    </ion-card>
  </ion-item>
</ion-list>
</ion-content>
