ion-content {
    --ion-background-color: #f5f6f7;
}

.section-navbar {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 999999;
    background: #A41D4F;
    color: #fff;
    padding: 0px 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0, .2);

    .left {
        display: flex;
        align-items: center;

        .btn-back {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            margin-right: 25px;
        }

        .item-text {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .right {
        display: flex;
        align-items: center;

        .item, .item-underline {
            text-decoration: none;
            color: #fff;
            display: flex;

            .text {
                padding-left: 8px;
            }
        }

        .item-underline:hover {
            text-decoration: underline;
        }
    }
}

.space {
    margin-top: 55px;
}

.form-container {
    margin: 10px;
    
    .item-card {
        background: #fff;
        box-shadow: 0px 2px 5px rgba(0,0,0, .2);
        border-radius: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .item-card-body {
            display: flex;
            flex-direction: column;

            label {
                padding-bottom: 8px;
            }

            .btn-submit {
                margin-top: 15px;
                background: #A41D4F;
                color: #fff;
                border: 1px solid #3333;
                height: 40px;
                width: 80px;
                transition: .2s;
                border-radius: 5px;
            }
            .btn-submit:hover {
                background: #8f1a45;
            }
        }
    }
}

.form-control:focus {
    box-shadow: none;
    border-color: #DA0037;
}
.form-control:read-only {
    background: #fff;
}