ion-content {
    --ion-background-color: #f5f6f7;
}

.page-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    padding: 0px 20px;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999999;

    .page-header-left {
        display: flex;
        align-items: center;

        .logo-text {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: #333;
        }
    }

    .page-header-center {
        display: flex;
        align-items: center;

        .box-search {

            .form-control {
                width: 400px;
                height: 60px;
                border: none;
                background: #f5f6f7;
            }
            .form-control:focus {
                box-shadow: none;
            }

            .icon-search-start {
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f5f6f7;
                border: none;
            }
            .icon-search-end {
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #333;
                color: #fff;
                border: 3px solid #f5f6f7;
                border-radius: 5px;
            }

        }
    }

    .page-header-right {
        display: flex;
        align-items: center;
        gap: 10px;

        .item:first-child {
            border: 1px solid #3333;
        }
        .item {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            color: #333;
            width: 100px;
            height: 60px;
            transition: .2s;
        }
        .item:first-child:hover {
            background: #f5f6f7;
        }
    }
}

.space {
    margin-top: 110px;
}

.page-body-empty {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;


    .suggest {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        margin: 100px auto 0 auto;

        .icon {
            font-size: 60px;
            font-weight: bold;
            color: #A41D4F;
            text-align: center;
        }

        .text {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
.page-body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    padding: 10px;
    
    .title {
        font-size: 18px;
        font-weight: bold;
    }

    .sub-title {
        font-size: 14px;
        font-weight: 300;
    }
}







.page-body {

    .content-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;
    }
    
    
    
    .content-container .content-left {
        grid-column: 1 / span 2;

        .title {
            font-size: 25px;
            font-weight: bold;
            margin-top: 25px;
        }
    
        .subtitle {
            font-size: 14px;
            font-weight: 300;
        }
    
        .section {
            font-size: 18px;
            font-weight: bold;
            border-bottom: 1px solid #3333;
            margin-top: 15px;
        }
    
        .description-container {
            display: flex;
            flex-direction: column;
            margin: 10px 0px;
            
            .description {
                font-size: 14px;
                font-weight: 300;
            }
        }
    
        .hight-light-container {
            margin-top: 10px;
            background: #f5f6f7;
            display: flex;
            flex-direction: column;
            padding: 10px;
            border-radius: 5px;
    
            .hightlight {
                font-size: 14px;
                font-weight: 300;
                padding: 5px 0px;
            }
        }
    }
    
    
    
    
    .content-container .content-right {
        

        .version-title {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 38px;
            font-weight: bold;
            font-size: 16px;
        }

        .version-list {
            display: flex;
            flex-direction: column;
            width: 100%;

            .group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                height: 38px;


                .value {
                    color: #333;
                    font-size: 14px;
                    font-weight: 300;
                }

                .line {
                    border-bottom: 1px dashed #3333;
                    width: 45%;
                }

                .datetime {
                    font-size: 14px;
                    font-weight: 300;
                    color: #333;

                }
            }
        }
    
    
    }

    
}