<ion-content>

  <div class="section-navbar">
    <div class="left">
      <a (click)="close()" href="javascript:void(0)" class="btn-back"><i class="fa-solid fa-arrow-left"></i></a>
      <div class="item-text">Version Control</div>
    </div>
    <div class="right">

    </div>
  </div>

  <div class="space"></div>

  <div class="version-control-container">

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>Version</td>
            <td>Url</td>
            <td>Action</td>
          </tr>
        </thead>
      </table>
    </div>

  </div>

</ion-content>