ion-content {
    --ion-background-color: #f5f6f7;
}

.page-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    padding: 0px 20px;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999999;

    .page-header-left {
        display: flex;
        align-items: center;

        .logo-text {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: #333;
        }
    }

    .page-header-center {
        display: flex;
        align-items: center;

        .box-search {

            .form-control {
                width: 500px;
                height: 60px;
                border: none;
                background: #f5f6f7;
            }
            .form-control:focus {
                box-shadow: none;
            }

            .icon-search-start {
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f5f6f7;
                border: none;
            }
            .icon-search-end {
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #333;
                color: #fff;
                border: 3px solid #f5f6f7;
                border-radius: 5px;
            }

        }
    }

    .page-header-right {
        display: flex;
        align-items: center;

        .item {
            text-decoration: none;
            border: 1px solid #3333;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            color: #333;
            width: 100px;
            height: 60px;
            transition: .2s;
        }
        .item:hover {
            background: #f5f6f7;
        }
    }
}

.space {
    margin-top: 110px;
}

.page-body {
    margin: 10px;
    display: flex;
    flex-direction: column;

    .title {
        font-size: 18px;
        font-weight: bold;
    }

    .sub-title {
        font-size: 14px;
        font-weight: 300;
    }

    .tab-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 15px;

        .item {
            height: 50px;
            display: flex;
            background: #f5f6f7;
            color: #333;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            transition: .2s;
            border-bottom: 1.5px solid #333;

            i { padding-right: 8px; }
        }
        .item:hover {
            background: #e7e7e7;
        }
        .item:hover > .item.active {
            color: #650f2f;
            background: #ffe9f2;
        }
        .item.active {
            color: #650f2f;
            background: #ffe9f2;
            border-bottom: 1.5px solid #A41D4F;
        }
    }
}