<ion-content>

  <div class="laab-card">
    <div class="laab-card-options">
      <div class="left"></div>
      <div class="right">
        <a (click)="close()" href="javascript:void(0)" class="btn-close-modal">
          <i class="fa-solid fa-xmark"></i> Close
        </a>
      </div>
    </div>
    <div class="laab-card-header">
      <div class="title">Download M-Money</div>
      <div class="sub-title">Scan QR for direct to download on PlayStore & AppStore</div>

    </div>
    <div class="laab-card-body">
      <!-- <div class="qr-container">
        <img id="qr-img" class="qr-img" src="" alt="">
      </div>
      <div class="code-text">{{ code }}</div> -->
      <div class="left">
        <div class="qr-container">
          <img id="qr-img1" class="mmoney-qr-img" src="" alt="">
        </div>
        <div class="icon">
          <img src="../../../../assets/images/iconplaystore-link.png" alt="">
        </div>
      </div>
      <div class="right">
        <div class="qr-container">
          <img id="qr-img2" class="mmoney-qr-img" src="" alt="">
        </div>
        <div class="icon">
          <img src="../../../../assets/images/iconappstore-link.png" alt="">
        </div>
      </div>
    </div>

  </div>

</ion-content>
