ion-content {
    --ion-background-color: #F5F5F5;
}

.message-container {
    display: flex;
    
}

.laab-card {
    margin: 10px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,49,36,0.7161239495798319) 0%, rgba(214,43,31,1) 100%, rgba(255,255,255,1) 100%);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    padding: 10px;
    overflow: hidden;

    .laab-card-options {
        display: flex;
        justify-content: space-between;
        width: 100%;

       .right {
            .btn-close-modal {
                color: #fff;
                text-decoration: none;
            }
       }
    }

    .laab-card-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;

        .title {
            font-size: 35px;
            font-weight: bold;
        }
        .sub-title {
            font-size: 14px;
            font-weight: 300;
        }

        .cash-balance {
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 30px;
            letter-spacing: 4px;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            span {
                font-size: 14px;
                display: flex;
                position: relative;
                padding-left: 10px;
                top: 3px;
            }
        }
    }
}





.laab-card-body {
    display: flex;
    flex-direction: column;
}





.laab-card-body {

    .payment-list.active {
        display: none;
    }
    .payment-list {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }

        .item-list {
            display: flex;
            gap: 10px;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
                width: 80px;

                .icon img {
                    width: 80px;
                    height: 80px;
                    background: #fff;
                    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
                    border-radius: 5px;
                    padding: 10px;
                }

                .text {
                    font-size: 16px;
                    font-weight: 300;
                    color: #fff;
                    padding-top: 10px;
                    text-align: center;
                }
            }
            .item.active {
               
                .icon img {
                    background: #e7e7e7;
                }
            }
        }
    }

}










.laab-card-body {


    .order-list.fit {
        min-height: 700px;
        max-height: 700px;
        padding-bottom: 10px;
    }
    .order-list.order-7 {
        min-height: 650px;
        max-height: 650px;
    }
    .order-list.order-11 {
        min-height: 950px;
        max-height: 950px;
    }
    .order-list.order-15 {
        min-height: 1250px;
        max-height: 1250px;
    }
    .order-list.order-19 {
        min-height: 1400px;
        min-height: 1400px;
    }
    .order-list.order-19-full {
        min-height: 1400px;
        max-height: 1400px;
    }
    .order-list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
        overflow-y: scroll;
        min-height: 650px;
        max-height: 650px;
        margin-top: 25px;

        .item-buymore {
            border: 1px dashed #fff;
            position: relative;
            height: 300px;
            width: 100%;
            border-radius: 5px;
            transition: .2s;

            .icon {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                transition: .2s;

                i {
                    font-size: 30px;
                }
            }
        }
        .item-buymore:hover {
            background: #ff9b94;
        }

        .item {
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(203,203,203,1) 100%, rgba(0,0,0,1) 100%);

            border: 1px solid #fff;
            color: #333;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding-top: 20px;
            overflow: hidden;
            max-height: 300px;
            width: 100%;
            position: relative;
            padding-bottom: 10px;

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .icon {
                    // background: #ffff;
                    color: #fff;
                    text-align: center;
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    border-radius: 5px;
                    font-weight: 300;

                    img {
                        width: 120px;
                        height: 120px;
                    }
                }

                .detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin-top: 20px;

                    .text {
                        margin-top: 10px;
                        font-size: 16px;
                        font-weight: bold;
                        color: #fff;
                    }

                    .price {
                        color: #333;
                    }
                }

                .btn-epin {
                    margin-top: 20px;
                    text-decoration: none;
                    color: #333;
                    
                    background: rgb(255,255,255);
                    background: linear-gradient(280deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 0%, rgba(208,208,208,1) 100%, rgba(0,0,0,1) 100%);

                    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
                    border-radius: 5px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }
}




.laab-card-footer.active {
    height: 700px;
}
.laab-card-footer {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 0px;
    z-index: 999999;
    background: #fff;
    transition: .2s;    
    display: flex;
    flex-direction: column;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}





.laab-card-footer {

    .payment-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        margin: 15px 20px;
    }
}





.laab-card-footer .payment-list {

    .payment-list-left {
        position: relative;
        grid-column: 1 / span 2;

        .title {
            font-size: 20px;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        .vending-section {
            position: absolute;
            left: 0; bottom: 0; right: 0;

            .title {
                font-size: 20px;
                font-weight: bold;
                color: #333;
                text-transform: uppercase;
                margin-top: 25px;
            }
            .title:first-child {
                margin-top: 0px;
            }

    
            .sub-title {
                font-size: 16px;
                font-weight: 300;
                color: #333;
            }
    
            .laab-qr-img {
                width: 200px;
                height: 200px;
                box-shadow: 0px 2px 5px rgba(0,0,0,.2);
                margin-top: 25px;
                display: none;
            }
            .laab-qr-img.active {
                display: flex;
            }

            .line {
                border-bottom: 1px solid #3333;
                margin: 10px 0px;
            }

            .btn-go {
                border-radius: 15px;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
                background: #DD3932;
                border: 3px dashed #fff;
                width: 230px;
                padding: 10px;
                display: none;

                .title {
                    font-size: 20px;
                    font-weight: bold;
                    color: #fff;
                }

                .text {
                    font-size: 14px;
                    font-weight: 300;
                    color: #fff;
                }
            }
            .btn-go.active {
                display: flex;
            }
        }

        .item-list {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 10px;
            gap: 10px;
            margin-top: 10px;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
                width: 80px;

                .icon img {
                    width: 80px;
                    height: 80px;
                    background: #fff;
                    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
                    border-radius: 5px;
                    padding: 10px;
                }

                .text {
                    font-size: 16px;
                    font-weight: 300;
                    color: #333;
                    padding-top: 10px;
                    text-align: center;
                }
            }
        }
    }
}





.laab-card-footer .payment-list {

    .payment-list-right {

        .bill-container {
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,49,36,0.7161239495798319) 0%, rgba(214,43,31,1) 100%, rgba(255,255,255,1) 100%);
            border-radius: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            height: 670px;
            width: 350px;

            .bill-wave-top {
                display: flex;
                position: absolute;
                top: 0; left: 0; right: 0;

                .shape {
                    border-top: 11px solid #fff;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    height: 0;
                    min-width: 15px;
                }
            }
            .bill-wave-bottom {
                display: flex;
                position: absolute;
                bottom: 0; left: 0; right: 0;

                .shape {
                    border-bottom: 11px solid #fff;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    height: 0;
                    min-width: 15px;
                }
            }
        }

        .bill-container {

            .bill-header {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 40px;
                color: #fff;

                .qr-img {
                    width: 220px;
                    height: 220px;
                }

                .total {
                    font-size: 35px;
                    font-weight: bold;
                    padding-top: 15px;
                }
            }
            .bill-body {
                display: flex;
                flex-direction: column;
                margin-top: 35px;

                .group {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                    height: 50px;
                }

                .line {
                    border-top: 1px dashed #ffff;
                    border-bottom: 1px dashed #ffff;
                }
            }
            .bill-footer {
                position: absolute;
                left: 10px; right: 10px; bottom: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .btn-item {
                    text-decoration: none;
                    color: #fff;
                    border: 1px solid #ffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    height: 40px;
                    font-size: 14px;
                    font-weight: 300;
                }

                .text {
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    text-align: center;
                }
            }
        }

    }
}